.block-modal-point-history {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                align-items: center;
                background: #ffffff;
                box-shadow: 0 0 3px #cccccc;
                border-radius: 5px;
                padding: 10px 10px;

                .wrap-item-img.round-frame {
                    padding: 15px;
                    border: 1px solid #d9d9d9;
                    border-radius: 100%;
                    @media screen and (max-width: 425px) {
                        padding: 10px;
                    }
                    img {
                        width: 40px;
                        @media screen and (max-width: 425px) {
                            width: 20px;
                        }
                    }
                }

                .wrap-item-info {
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;
                    margin-left: 0.5rem;

                    p {
                        margin-bottom: 0;
                    }

                    .info {
                        flex: 1 1 auto;

                        .info-title {
                            font-weight: bold;
                        }
                    }

                    .point {
                        font-weight: 600;

                        &.add {
                            color: #00c7a7;
                        }

                        &.sub {
                            color: #FF0000;
                        }
                    }
                }
            }
        }
    }
    .wrap-lazy-pagination {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-top: 1rem;
        hr {
            margin-top: auto;
        }
    }
}