.block-edit-personal {
    margin: 0 -10px;
    overflow-x: auto;
    .form-edit-user {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .avatar {
            margin-bottom: 1rem;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            .ant-upload {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .avatar-left {
                float: left;
                width: 80px;
                height: 80px;
                display: flex;
                img {
                    border-radius: 100%;
                    border: 1px solid #b6b6b6;
                    width: 100%;
                }
            }
            .avatar-right {
                float: left;
                margin-left: 20px;
                width: calc(100% - 100px);
                .upload-avatar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                p {
                    margin-bottom: 0;
                }
                hr {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .wrap-form-action {
            margin-top: auto;
            margin-bottom: 0;
            hr {
                margin-top: 0.5rem;
            }
            .box-button-event {
                display: flex;
                justify-content: flex-end;
                .ant-btn {
                    @media screen and (max-width: 610px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}