.block-list-notification {
    margin: 0 -10px;
}
.item {
    cursor: pointer;
    &:hover {
        background-color: #f9f9f9;
    }
}
.btn-loadmore {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #02C8A7;
    border-color: #02C8A7;
    &:hover, &:focus, &:active {
        color: #fff;
        border-color: #02C8A7;
        background-color: #02C8A7;
    }
}
.btn-readall {
    border-radius: 4px;
    background-color: #02C8A7;
    color: #fff;
    &:hover, &:focus, &:active {
        background-color: #06a98e;
        color: #fff;
        border-color: #06a98e;
    }
}
