.hera {
  height: calc(100vh - 150px);
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-sync {
      cursor: pointer;
    }
  }
}
.list-hera {
  width: 300px;
  border-right: solid 1px #f1f1f1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  overflow-y: auto;
  .search {
    padding: 15px;
    border-bottom: solid 1px #f1f1f1;
    .input-group {
      .form-control {
        border-radius: 30px;
        padding-left: 30px;
      }
      .search-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #cccccc;
        font-size: 1.2rem;
        z-index: 10;
      }
    }
  }
  .conversation-item {
    display: flex;
    padding: 7.5px 15px;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 1px #f1f1f1;
    transition: all 0.1s;
    &.active {
      background-color: rgba(0, 200, 167, 0.25);
      border-left: solid 3px rgb(2, 200, 167);
    }
    &:hover {
      background-color: #f1f1f1;
    }
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 7.5px;
      object-fit: cover;
      border: solid 1px #f1f1f1;
    }
    .name {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-weight: bold;
    }
    .time {
      width: 60px;
      text-align: right;
    }
    .message {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .doctor-label {
      background-color: #02c8a7;
      color: #fff;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}

.chat-box-hera {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  .chat-box-header {
    padding: 15px;
    border-bottom: solid 1px #f1f1f1;
    background-color: #ffffff;
    box-shadow: 0 3px 3px #ccc;
    display: flex;
    z-index: 1;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 7.5px;
      object-fit: cover;
    }
    .fullname {
      font-weight: bold;
    }
    .doctor-label {
      background-color: #02c8a7;
      color: #fff;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
  .list-messages {
    overflow-y: auto;
    padding: 15px;
    flex: 1 1 auto;
    .message {
      border-radius: 0px 8px;
      max-width: 80%;
      display: flex;
      margin-bottom: 5px;
      position: relative;
      flex-wrap: wrap;
      .content {
        padding: 7.5px;
        border-radius: 5px;
      }
      &.blur {
        .content {
          opacity: 0.5;
        }
      }
      &.sent {
        margin-left: auto;
        justify-content: flex-end;
        .content {
          background-color: #02c8a7;
          color: #ffffff;
        }
      }
      &.received {
        .content {
          background-color: #f1f1f1;
          margin-left: 35px;
          max-width: 80%;
          .service_suggestion {
            max-width: 200px;
            display: block;
            text-align: center;
            background: #ffffff;
            border-radius: 10px;
            padding: 10px;
            margin-top: 5px;
            cursor: pointer;
            div {
              font-weight: 500;
              margin-top: 3px;
              text-align: left;
            }
          }
          .result {
            background: #02c8a7;
            padding: 5px 10px;
            max-width: max-content;
            border-radius: 10px;
            a {
              color: #ffffff;
            }
          }
        }
        .question {
          cursor: pointer;
          width: 20px;
          height: 20px;
          background: #ff4d4f;
          border-radius: 100%;
          margin-left: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          font-size: 12px;
        }
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 0.25rem;
        object-fit: cover;
        position: absolute;
        top: 0;
      }
    }
  }
  .message-box {
    position: relative;
    .input-message {
      border: none;
      border-top: solid 2px #f1f1f1;
      width: 100%;
      min-height: 60px;
      max-height: 120px;
      padding: 7.5px;
      padding-right: 40px;
      transition: all 0.5s;
      &:focus {
        outline: none;
        border-top: solid 2px #40a9ff;
      }
    }
    .btn-submit {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      color: #02c8a7;
    }
    .option-file {
      position: absolute;
      top: 8px;
      right: 55px;
      font-size: 1.2rem;
      color: #02c8a7;
      cursor: pointer;
    }
  }
  .option-ai {
    background: #ffffff;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
    p {
      color: #02c8a7;
      cursor: pointer;
    }
  }
}
.image-mess {
  width: 200px;
  height: 160px;
  object-fit: cover;
  cursor: pointer;
}
