.block-schedule-option-call-chat {
  .wrap-panel-content {
    .wrap-panel-item {
      margin-top: 10px;
      box-shadow: 0 0 3px #cccccc;
      background: #ffffff;
      padding: 15px;
      border-radius: 5px;
      .wrap-top {
        h4 {
          display: flex;
          align-items: center;
          background: aliceblue;
          padding: 5px;
          border-radius: 5px;
          svg {
            font-size: 1.2em;
            margin-right: 0.5rem;
          }
        }
      }
      .wrap-main {
        display: flex;
        margin-top: 0.5rem;

        span.item {
          cursor: pointer;
          border-radius: 5px;
          padding: 8px;
          background: #f0f0f0;
          border: 1px solid #d9d9d9;
          margin-left: 0.5rem;

          &:first-child {
            margin-left: 0;
          }
        }

        span.item:hover,
        span.item.active {
          background: #00c8a7;
          color: #ffffff;
          border: 1px solid #00c8a7;
        }

        input {
          width: 250px;
          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }

        .css-2b097c-container {
          width: 250px;
          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
      .wrap-datetime {
        float: left;
        width: 100%;
        margin-top: 0.5rem;
        h4 {
          text-transform: uppercase;
          font-size: 14px;
        }
        .content {
          width: 100%;
          float: left;
          .item-empty {
            margin-top: 0.5rem;
            color: #ff0000;
          }
          .item {
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
            padding: 8px;
            background: #f0f0f0;
            border: 1px solid #d9d9d9;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
            display: inline-block;
            width: 80px;
            &:last-child {
              margin-right: 0;
            }
            p {
              margin-bottom: 0;
            }
          }
          .item:hover,
          .item.active {
            background: #00c8a7;
            color: #ffffff;
            border: 1px solid #00c8a7;
          }
        }
      }
      .wrap-event-action {
        .box-button-event {
          display: flex;
          justify-content: flex-end;
          .ant-btn {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @media screen and (max-width: 610px) {
              width: 100%;
            }
            svg {
              color: #ffffff;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
