.block-wallet {
    margin: 0 -10px;
    .wrap-balance {
        background: #ffffff;
        box-shadow: 0 0 3px #d9d9d9;
        padding: 15px;
        margin-top: 10px;
        .wrap-panel-item {
            display: flex;
            align-items: center;
            .wrap-item-img {
                img {
                    height: 30px;
                    width: 30px;
                }
            }
            .wrap-item-info {
                margin-left: 0.5rem;
                p {
                    margin-bottom: 0;
                }
                .label {
                    font-weight: 500;
                }
            }
        }
    }
    .form-payment {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-method {
            .wrap-method-item {
                display: flex;
                flex: 0 0 100%;
                max-width: 100%;
                justify-content: space-between;

                .ant-radio-wrapper {
                    display: flex;
                    align-items: center;
                    border: 1px solid #eeeeee;
                    background: #ffffff;
                    border-radius: 5px;
                    padding: 10px;
                    margin-top: 0.5rem;
                    margin-right: 0;
                    flex: 0 0 33%;
                    max-width: 33%;

                    @media screen and (max-width: 425px) {
                        padding: 5px;
                    }

                    .ant-radio {
                        display: none !important;
                    }

                    span {
                        display: flex;
                        flex: 1 1 auto;
                        padding: 0;
                    }

                    .method-card,
                    .method-visa,
                    .method-atm {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        flex: 1 1 auto;

                        .icon {
                            img {
                                width: 40px;
                            }
                        }

                        .label {
                            p {
                                margin-bottom: 0;

                                &:first-child {
                                    word-break: break-word;
                                    white-space: normal;
                                    font-size: 14px;
                                    margin-top: 5px;
                                    font-weight: 500;
                                    text-transform: capitalize;
                                    text-align: center;
                                    @media screen and (max-width: 425px) {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                .ant-radio-wrapper-checked {
                    border: 1px solid #00c7a7;

                    .method-card,
                    .method-visa,
                    .method-atm {
                        .label {
                            p {
                                color: #00c7a7;
                            }
                        }
                    }
                }
            }
        }

        .wrap-form-method-card {
            background: #ffffff;
            box-shadow: 0 0 3px #d9d9d9;
            padding: 15px;
            p {
                margin-bottom: 0;
            }
        }

        .wrap-form-method-atm,
        .wrap-form-method-visa {
            .wrap-gateway,
            .wrap-card {
                background: #ffffff;
                box-shadow: 0 0 3px #d9d9d9;
                padding: 15px;
                p {
                    margin-bottom: 0;
                }
                .gateway-info,
                .card-info {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                    .ant-radio-wrapper {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: center;
                        border: 1px solid #d9d9d9;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-right: 0;
                        margin-top: 10px;
                        span {
                            &:last-child {
                                display: flex;
                                flex: 1 1 auto;
                            }
                        }
                        .info {
                            display: flex;
                            flex: 1 1 auto;
                            align-items: center;
                            margin-left: 5px;
                            img {
                                width: 50px;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            .wrap-card {
                margin-top: 0.5rem;
                .card-info {
                    .ant-radio-wrapper {
                        padding: 10px;
                        .info {
                            img {
                                width: 35px;
                            }
                        }
                    }
                }
            }
            .wrap-select-amount {
                background: #ffffff;
                box-shadow: 0 0 3px #d9d9d9;
                padding: 15px;
                margin-top: 0.5rem;
                .wrap-amount-item {
                    @media screen and (max-width: 767px) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .amount-item {
                        display: inline-block;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 8px;
                        background: aliceblue;
                        border: 1px solid aliceblue;
                        margin-top: 0.5rem;
                        margin-right: 0.5rem;
                        width: 100px;
                        text-align: center;
                        @media screen and (max-width: 767px) {
                            flex: 1 1 auto;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    .amount-item:hover,
                    .amount-item.active {
                        background: #00c8a7;
                        color: #ffffff;
                        border: 1px solid #00c8a7;
                    }
                }
            }
            .wrap-input-amount {
                background: #ffffff;
                box-shadow: 0 0 3px #d9d9d9;
                padding: 15px;
                margin-top: 0.5rem;
                h4 {
                    margin-bottom: 0.5rem;
                }
                .ant-form-item {
                    .ant-input-number {
                        width: 300px;
                        @media screen and (max-width: 425px) {
                            width: 100%;
                        }
                        .ant-input-number-handler-wrap {
                            display: none;
                        }
                    }
                }
            }
        }

        .wrap-form-action {
            margin-top: auto;
            margin-bottom: 0;
            hr {
                margin-top: 1rem;
            }
            .box-button-event {
                display: flex;
                justify-content: flex-end;
                .ant-btn {
                    display: flex;
                    align-items: flex-end;
                    @media screen and (max-width: 610px) {
                        width: 100%;
                    }
                    svg {
                        color: #FFFFFF;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}