.block-list-history-call {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                padding: 10px;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-info {
                    flex: 1 1 auto;
                    p {
                        margin-bottom: 0;
                    }
                    .wrap-line {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: center;
                        .label {
                            font-weight: 500;
                            color: #6c757d;
                            width: 80px;
                        }
                        .value {
                            display: flex;
                            flex: 1 1 auto;
                            margin-left: 5px;
                            align-items: center;
                        }
                        .badge {
                            margin-left: 5px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .block-pagination {
        margin: 15px -10px 0;
        justify-content: flex-end;
    }
}