.form-payment-service {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  h4 {
    display: flex;
    align-items: center;
    background: aliceblue;
    padding: 5px;
    border-radius: 5px;
    svg {
      font-size: 1.2em;
      margin-right: 0.5rem;
    }
  }
  .wrap-method {
    .wrap-method-item {
      width: 100%;
      .ant-radio-wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #eeeeee;
        padding: 15px;
        margin-top: 15px;
        margin-right: 0;
      }
      .method-wallet,
      .method-visa,
      .method-atm {
        display: flex;
        align-items: center;
        .icon {
          margin-left: 10px;
          margin-right: 10px;
          @media screen and (max-width: 290px) {
            margin-left: 5px;
            margin-right: 5px;
          }
          img {
            width: 40px;
            @media screen and (max-width: 375px) {
              width: 25px;
            }
            @media screen and (max-width: 290px) {
              width: 20px;
            }
          }
        }
        .label {
          p {
            margin-bottom: 0;
            &:first-child {
              font-size: 16px;
              word-break: break-word;
              white-space: normal;
              font-weight: 500;
              @media screen and (max-width: 375px) {
                font-size: 13px;
              }
              @media screen and (max-width: 290px) {
                font-size: 11px;
              }
            }
            &:nth-child(2) {
              @media screen and (max-width: 375px) {
                font-size: 12px;
              }
              @media screen and (max-width: 290px) {
                font-size: 10px;
              }
            }
          }
        }
      }
      .method-wallet {
        .label {
          .amount {
            color: #00c7a7;
            font-weight: 500;
          }
        }
      }
      .method-visa-panel,
      .method-atm-panel {
        height: 0;
        background: aliceblue;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.26s ease;
        .card-info {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          padding: 10px;
          p {
            margin-bottom: 0;
          }
          .ant-radio-wrapper {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            background: #ffffff;
            border: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
            .info {
              display: flex;
              flex: 1 1 auto;
              align-items: center;
              img {
                width: 35px;
                margin-right: 1rem;
              }
            }
          }
        }
      }
      .method-visa-panel.active,
      .method-atm-panel.active {
        height: auto;
        transform: scaleY(1);
      }
    }
  }
  .wrap-promotion {
    margin-bottom: 1rem;
    input {
      margin-top: 0.5rem;
    }
  }
  .wrap-price {
    margin-top: auto;
    p {
      margin-bottom: 0;
    }
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px dashed #333333;
      padding-top: 5px;
      .label {
        font-size: 16px;
        font-weight: bold;
      }

      .value {
        font-size: 17px;
        color: #ff0000;
        font-weight: bold;
      }
    }
  }
}
