.block-change-password {
    margin: 0 -10px;
    .form-change-pass {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-form-action {
            margin-top: auto;
            margin-bottom: 0;
            hr {
                margin-top: 0.5rem;
            }
            .box-button-event {
                display: flex;
                justify-content: flex-end;
                .ant-btn {
                    @media screen and (max-width: 610px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}