.block-collapse-find-profile {
    margin-top: 10px;
    .ant-input-group {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 610px) {
            display: block;
            justify-content: normal;
        }
        .ant-btn {
            width: 100%;
            margin: 10px 5px;
            @media screen and (max-width: 610px) {
                margin: 5px 0;
            }
        }
    }
}

.block-modal-find-profile {
    .block-tabpane-find-code {
        .form-find-code {
            margin-top: 1rem;
            .ant-input-group {
                display: block;

                .ant-form-item {
                    width: auto;
                    @media screen and (max-width: 375px) {
                        display: block;
                    }
                    .ant-btn {
                        @media screen and (max-width: 375px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .block-tabpane-find-code,
    .block-tabpane-find-info {
        padding: 0 5px;
        .wrap-description {
            margin-bottom: 0;
        }
        hr {
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
        .wrap-panel-content {
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 5px;

            .wrap-panel-col {
                margin-top: 10px;

                .wrap-panel-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    box-shadow: 0 0 5px #cccccc;
                    background: #ffffff;
                    border-radius: 5px;
                    padding: 15px;

                    .wrap-main {
                        .wrap-line {
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            svg {
                                font-size: 16px;
                                margin-right: 10px;
                            }

                            span {
                                font-size: 16px;
                            }
                        }
                    }

                    .wrap-event-action {
                        cursor: pointer;

                        &:hover {
                            &:after {
                                content: "";
                                position: absolute;
                                background: #02C8A7;
                                height: 100%;
                                width: 50px;
                                top: 0;
                                right: 5px;
                                color: #000;
                                border-radius: 0 5px 5px 0;
                                opacity: 0.6;
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            background: #f0f0f0;
                            height: 100%;
                            width: 50px;
                            top: 0;
                            right: 5px;
                            color: #000;
                            border-radius: 0 5px 5px 0;
                            opacity: 0.6;
                        }

                        svg {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}