.care-pay {
  position: relative;
  .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .color-00c7a7 {
    color: #00c7a7;
    text-decoration: underline;
  }
  .bg-care-pay {
    width: 100%;
    height: calc(100vh - 130px);
    object-fit: cover;
    margin-top: -1rem;
    position: absolute;
  }
  .content {
    position: relative;
    z-index: 1;
    padding: 0 15px;
    .surplus {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
      p {
        margin-bottom: 0px;
      }
      h5 {
        font-size: 24px;
        margin-bottom: 5px;
      }
      a {
        img {
          width: 20px;
        }
      }
    }
    .pay {
      background: #ffffff;
      border-radius: 5px;
      text-align: center;
      padding: 15px;
      .cp {
        cursor: pointer;
      }
      img {
        width: 35px;
      }
      p {
        margin-top: 8px;
        margin-bottom: 0;
      }
    }
    .info {
      background: #ffffff;
      border-radius: 5px;
      padding: 15px;
      img {
        width: 50px;
      }
      p {
        padding: 10px 0 15px;
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}

.my-wallet {
  .tutorial {
    h5 {
      font-size: 18px;
      color: #00c7a7;
      margin-bottom: 10px;
    }
  }
  .card-bank {
    position: relative;
    .bg_card {
      width: 320px;
      border-radius: 10px;
      position: absolute;
    }
    .info {
      position: relative;
      color: #ffffff;
      top: 0;
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px 15px;
      h5 {
        font-size: 16px;
        color: #ffffff;
      }
    }
    .img-mb {
      width: 60px;
    }
  }
}
