.block-list-history-walet {
  &.wrap-panel-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        padding: 10px;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-item-info {
          flex: 1 1 auto;
          p {
            margin-bottom: 0;
          }
          .wrap-line {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            .label {
              font-weight: 500;
              color: #6c757d;
              width: 80px;
            }
            .w-100px {
              width: 100px;
            }
            .value {
              display: flex;
              flex: 1 1 auto;
              margin-left: 5px;
              align-items: center;
            }
            .color-f96268 {
              color: #f96268;
            }
            .colorCreate {
              color: #25a93c;
            }
            .colorConfirm {
              color: #0392ce;
            }
            .colorWait {
              color: #0247fe;
            }
            .colorDelivery {
              color: #ff00ff;
            }
            .colorFinish {
              color: #8701b0;
            }
            .colorCancel {
              color: #f96268;
            }
            .colorRefund {
              color: #ff9500;
            }
            .badge {
              margin-left: 5px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .block-pagination {
    margin: 15px -10px 0;
    justify-content: flex-end;
  }
}
