.form-register {
    .ant-form-item {
        .ant-input-number {
            width: 100%;
            .ant-input-number-handler-wrap {
                display: none;
            }
        }
        .chkAgreement {
            .linkAgreement {
                text-decoration: underline;
            }
        }
    }
}