.wrap-down-app {
    p {
        text-transform: capitalize;
    }
    .icon-app {
        @media screen and (max-width: 380px) {
            display: grid;
            justify-content: center;
        }
        img {
            @media screen and (max-width: 380px) {
                width: 130px;
            }
            &:first-child {
                margin-right: 0.5rem;
                @media screen and (max-width: 380px) {
                    margin-right: 0;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}