.block-service-confirmation {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .wrap-content {
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        img {
            width: 400px;
            margin-bottom: 2rem;
        }
        .content {
            p {
                font-size: 15px;
                width: 600px;
                @media screen and (max-width: 767px) {
                    width: 100%
                }
                a {
                    text-decoration: underline;
                    font-style: italic;
                }
            }
        }
    }
    .wrap-content-failed {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        h4 {
            font-weight: bold;
            font-style: italic;
        }
        p {
            margin-bottom: 0;
            line-height: 1.8;
            font-size: 16px;
            @media screen and (max-width: 375px) {
                font-size: 14px;
            }
        }
        .label {
            font-weight: 600;
            a {
                text-decoration: underline;
                margin-left: 0.5rem;
                font-style: italic;
            }
        }
        .amount {
            font-weight: bold;
            color: #FF0000;
        }
        .method,
        .datetime {
            font-weight: 600;
        }
        .invoice-code {
            font-weight: 600;
            color: blue;
        }
        .wrap-img {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            justify-content: center;
            img {
                width: 400px;
                margin: 0 auto;
            }
        }
    }
}