.form-confirm-pass {
    .recover-pass {
        cursor: pointer;
        text-align: center;
        color: #00C6BC;
    }
    .cskh {
        text-align: center;
        a {
            cursor: pointer;
            color: #00C6BC;
        }
    }
}