.block-list-doctor-call-chat {
    padding-left: 10px;
    padding-right: 10px;
    .wrap-panel-content {
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                height: 100%;
                border-radius: 5px;
                padding: 15px;
                .wrap-top {
                    display: flex;
                    cursor: pointer;
                    margin-bottom: 0.5rem;
                    .round-frame {
                        .avatar {
                            object-fit: cover;
                            width: 80px;
                            height: 80px;
                            border-radius: 100%;
                            box-shadow: 0 0 3px #ececec;
                            background: aliceblue;
                        }
                    }
                    .description {
                        margin-left: 0.5rem;
                        p {
                            margin-bottom: 0;
                            height: 75px;
                            white-space: pre-wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                        }
                        .rating {
                            margin-bottom: 0.5rem;
                            .icon {
                                width: 15px;
                            }
                            span {
                                margin-right: 2px;
                            }
                        }
                    }
                }
                .wrap-main {
                    border-top: 1px solid #d9d9d9;
                    border-bottom: 1px solid #d9d9d9;
                    margin-top: auto;
                    margin-bottom: 0.5rem;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    .info-subscribe {
                        display: flex;
                        justify-content: space-between;
                        p {
                            display: flex;
                            align-items: center;
                            margin-bottom: 0;
                            img {
                                width: 18px;
                                margin-right: 0.5rem;
                            }
                        }
                        .absent {
                            color: orange;
                        }
                        .online {
                            color: green;
                        }
                        .offline {
                            color: #909090;
                        }
                    }
                }
                .wrap-event-action {
                    .box-button-event {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 0.5rem;
                        @media screen and (max-width: 475px) {
                            display: block;
                        }
                        .ant-btn {
                            display: flex;
                            width: 100%;
                            padding: 0;
                            border: 0;
                            &:hover {
                                color: #333333;
                            }
                            &:first-child {
                                margin-right: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-right: 0;
                                }
                            }
                            &:last-child {
                                margin-left: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-left: 0;
                                    margin-top: 0.5rem;
                                }
                            }
                            .addon-btn {
                                display: flex;
                                align-items: center;
                                .bg-chat,
                                .bg-call {
                                    position: absolute;
                                    z-index: 1;
                                    width: 29px;
                                    height: 100%;
                                    border-radius: 5px 0 0 5px;
                                }
                                .bg-call {
                                    filter: invert(48%) sepia(36%) saturate(3961%) hue-rotate(357deg) brightness(100%) contrast(104%);
                                }
                                .icon-chat,
                                .icon-call {
                                    position: absolute;
                                    z-index: 2;
                                    width: 15px;
                                    margin-left: 6px;
                                }
                            }
                            .label {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex: 1 1 auto;
                                margin-left: 25px;
                            }
                        }
                        .ant-btn-chat {
                            background: #1f9ffc2b;
                            border-radius: 5px;
                        }
                        .ant-btn-call {
                            background: #ff85011c;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

.wrap-filter-call-chat {
    display: flex;
    margin-top: 10px;
    box-shadow: 0 0 3px #cccccc;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .title {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .wrap-search {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-right: 5px;
        margin-bottom: 0.5rem;
        flex: 0 0 50%;
        @media screen and (max-width: 425px) {
            padding-right: 0;
        }
        .ant-btn {
            background: #00c7a7;
            border: 1px solid #00c7a7;
        }
    }
    .wrap-sort {
        padding-left: 5px;
        flex: 0 0 50%;
        @media screen and (max-width: 425px) {
            padding-left: 0;
        }
    }
}

.block-modal-detail-doctor {
    .ant-modal-body {
        padding: 0 !important;
        background: #eaeaea;
        min-height: 100vh;
    }
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-line {
            display: flex;
            flex-direction: column;
            padding: 15px;
            background: #FFFFFF;
            .short-info {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
                p {
                    margin-bottom: 0;
                }
                .avatar {
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    box-shadow: 0 0 3px #ececec;
                    background: aliceblue;
                }
                .description {
                    margin-left: 0.5rem;
                    cursor: pointer;
                    .doctor-name {
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .rating {
                        .icon {
                            width: 15px;
                        }

                        span {
                            margin-right: 2px;
                        }
                    }

                    .votes {
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        span {
                            font-size: 14px;
                        }
                        svg {
                            font-size: 11px;
                            margin-left: 4px;
                        }
                    }
                }
            }
            .info-subscribe {
                display: flex;
                justify-content: space-between;
                border: 1px solid #cccccc;
                padding: 10px;
                border-radius: 5px;
                p {
                    margin-bottom: 0;
                }
                .consultation,
                .thanks {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    .label {
                        font-weight: 500;
                    }
                }
                .consultation {
                    border-right: 1px solid #cccccc;
                }
            }
            .wrap-event-action {
                .box-button-event {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 0.5rem;
                    @media screen and (max-width: 475px) {
                        display: block;
                    }
                    .ant-btn {
                        display: flex;
                        width: 100%;
                        padding: 0;
                        border: 0;
                        &:hover {
                            color: #333333;
                        }
                        &:first-child {
                            margin-right: 0.25rem;
                            @media screen and (max-width: 475px) {
                                margin-right: 0;
                            }
                        }
                        &:last-child {
                            margin-left: 0.25rem;
                            @media screen and (max-width: 475px) {
                                margin-left: 0;
                                margin-top: 0.5rem;
                            }
                        }
                        .addon-btn {
                            display: flex;
                            align-items: center;
                            .bg-chat,
                            .bg-call {
                                position: absolute;
                                z-index: 1;
                                width: 45px;
                                height: 100%;
                                border-radius: 5px 0 0 5px;
                            }
                            .bg-call {
                                filter: invert(48%) sepia(36%) saturate(3961%) hue-rotate(357deg) brightness(100%) contrast(104%);
                            }
                            .icon-chat,
                            .icon-call {
                                position: absolute;
                                z-index: 2;
                                width: 20px;
                                margin-left: 10px;
                            }
                        }
                        .label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex: 1 1 auto;
                            &.chat {
                                background: #1f9ffc2b;
                                border-radius: 5px;
                            }
                            &.call {
                                background: #ff85011c;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
            .full-info {
                .wrap-line {
                    display: flex;
                    justify-content: space-between;
                    .label {
                        font-weight: 500;
                    }
                    .value {
                        display: flex;
                        flex: 1 1 auto;
                        text-align: justify;
                        justify-content: flex-end;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
                .drop-line {
                    flex-direction: column;
                }
            }
            .certificate-info {
                .wrap-line {
                    p {
                        margin-bottom: 0;
                    }
                    .label {
                        font-weight: 500;
                    }
                    .value {
                        img {
                            cursor: zoom-in;
                            width: 80px;
                            height: 100px;
                            margin-right: 5px;
                            object-fit: cover;
                        }
                    }
                }
            }
            .specialist {
                padding: 10px;
                h4 {
                    margin: 0 -10px;
                }
                .wrap-panel-col {
                    margin-top: 10px;
                    .wrap-panel-item {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        box-shadow: 0 0 3px #cccccc;
                        background: #ffffff;
                        border-radius: 5px;
                        padding: 10px;
                        .wrap-item-img {
                            .avatar {
                                object-fit: cover;
                                width: 45px;
                                height: 45px;
                                border-radius: 100%;
                                box-shadow: 0 0 3px #ececec;
                                background: aliceblue;
                            }
                        }
                        .wrap-item-info {
                            margin-left: 0.5rem;
                            p {
                                font-size: 13px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .wrap-panel-line {
            &:last-child {
                flex: 1 1 auto;
            }
        }
    }
}

.block-modal-detail-rating {
    .ant-modal-body {
        min-height: 100vh;
    }
    .total-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 3px #f0f8ff;
        background: aliceblue;
        margin-bottom: 10px;
        padding: 5px;
        .rating {
            .icon {
                width: 18px;
            }
            span {
                margin-right: 2px;
            }
        }
        .votes {
            display: flex;
            align-items: center;
            margin-left: 5px;
            margin-top: 3px;
            font-weight: 500;
            .value {
                font-size: 13px;
            }
            svg {
                font-size: 12px;
                margin-left: 4px;
            }
        }
    }
    .wrap-panel-content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                width: 100%;
                align-items: center;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-img {
                    img {
                        width: 75px;
                        height: 75px;
                        object-fit: cover;
                        border-radius: 100%;
                        box-shadow: 0 0 3px #ececec;
                        background: aliceblue;
                    }
                }
                .wrap-item-info {
                    flex: 1 1 auto;
                    margin-left: 0.5rem;
                    p {
                        margin-bottom: 0;
                    }
                    .rating {
                        margin-bottom: 0.5rem;
                        .icon {
                            width: 15px;
                        }
                        span {
                            margin-right: 2px;
                        }
                    }
                    .content-reviews {
                        background: #f8f8f8;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .wrap-lazy-pagination {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-top: 1rem;
        hr {
            margin-top: auto;
        }
    }
}