.package-health-service_details2 {
  padding: 0 10px;
  .wrap-panel-content {
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: 100%;
        padding: 0.5rem;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-item-img {
          img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            object-fit: cover;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
          .img-fluid1 {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: #d9d9d9;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
        }
        .wrap-item-info {
          margin-left: 0.5rem;
          flex: 1 1;
          h4 {
            @media screen and (max-width: 375px) {
              font-size: 13px;
            }
            @media screen and (max-width: 315px) {
              font-size: 12px;
            }
          }
          p {
            margin-bottom: 0;
            line-height: 1.5385;
            @media screen and (max-width: 375px) {
              font-size: 12px;
            }
            @media screen and (max-width: 315px) {
              font-size: 11px;
            }
          }
          .sub-name {
            color: #00c6bc;
          }
        }
      }
    }
    .wrap-profile-info {
      height: 100%;
      padding: 0.5rem;
      box-shadow: 0 0 3px #cccccc;
      background: #ffffff;
      margin-top: 10px;
      border-radius: 5px;
    }
    .wrap-main {
      .wrap-line {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
        font-size: 15px;
        border-bottom: 1px dashed #d9d9d9;
        &.address {
          flex: 1 1 auto;
          flex-direction: column;
        }
        &:last-child {
          border-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
        .label {
          font-weight: 500;
        }
        .value {
          display: flex;
          text-align: justify;
          justify-content: flex-end;
          .code {
            color: #ff0000;
          }
        }
        .color-red {
          color: #f96268;
        }
        .color-green {
          color: #25a93c;
        }
        .color-sky {
          color: #0392ce;
        }
        .color-purpil {
          color: #8701b0;
        }
      }
    }
  }
  .colorCreate {
    color: #25a93c;
  }
  .colorCancel {
    color: #f96268;
  }
  .colorConfirm {
    color: #0392ce;
  }
  .colorFinish {
    color: #8701b0;
  }
  .colorRefund {
    color: #ff9500;
  }
}
.mt-6 {
  margin-top: 6px;
}
