.block-menu-mobile {
    float: left;
    position: relative;
    z-index: 9;
}
.css-3pxmmn {
    z-index: 999999 !important;
    hr {
        border-top: 1px solid #f0f0f0;
        margin: 0;
    }

    .sidebar-mobi {
        position: absolute;
        z-index: 999999;
        background-color: #ffffff;
        width: 270px;
        height: auto;
        min-height: 100vh;
        border-radius: 0;
        left: 0;
        top: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sidebar-mobile-toggler {
        background-color: #324148;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        height: 54px;
        font-size: 16px;
        font-weight: 600;

        .sidebar-mobile-main-toggle {
            transition: all ease-in-out 0.15s;
            color: #FFFFFF;
        }
    }

    .wrap-nav-profile {
        border-bottom: 1px solid #f0f0f0;
        .nav-item-profile {
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            .avatar {
                display: flex;
                height: 50px;
                width: 50px;
                float: left;
                img {
                    border-radius: 100%;
                    border: 1px solid #eeeeee;
                    width: 100%;
                }
            }
            .personal {
                margin-left: 10px;
                width: calc(100% - 60px);
                float: left;
                p {
                    margin-bottom: 0;
                    &:first-child {
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .nav-sidebar {
        padding: 5px;
        -ms-flex-direction: column;
        flex-direction: column;
        .nav-item {
            font-size: 17px;
            color: #333333;
            display: flex;
            align-items: center;
            padding: 5px 5px;
            svg {
                font-size: 24px;
                color: #00c7a7;
            }
            span {
                margin-left: 10px;
            }
            .round-frame {
                border: 1px solid #cccccc;
                border-radius: 100%;
                width: 2em;
                height: 2em;
                padding: 7px;
                display: flex;
            }
        }
    }
}