.list-conversations {
  width: 300px;
  border-right: solid 1px #f1f1f1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  overflow-y: auto;
  .search {
    padding: 15px;
    border-bottom: solid 1px #f1f1f1;
    .input-group {
      .form-control {
        border-radius: 30px;
        padding-left: 30px;
      }
      .search-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #cccccc;
        font-size: 1.2rem;
        z-index: 10;
      }
    }
  }
  .conversation-item {
    display: flex;
    padding: 7.5px 15px;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 1px #f1f1f1;
    transition: all 0.1s;
    &.active {
      background-color: rgba(0, 200, 167, 0.25);
      border-left: solid 3px rgb(2, 200, 167);
    }
    &:hover {
      background-color: #f1f1f1;
    }
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 7.5px;
      object-fit: cover;
      border: solid 1px #f1f1f1;
    }
    .name {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-weight: bold;
    }
    .time {
      width: 60px;
      text-align: right;
    }
    .message {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .doctor-label {
      background-color: #02c8a7;
      color: #fff;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}
