.block-detail-invoice {
    margin: 0 -10px;
}
.containerItem {
    margin-top: 10px !important;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    &:first-child {
        margin-top: 0;
    }
}
.titleItem {
    font-size: 16px;
    font-weight: 600;
    color: #161616;
}
.itemDetail {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.name {
    flex: 1;
    font-size: 14px;
    min-width: 100px;
    color: #777777;
}
.value {
    font-size: 14px;
    color: #161616;
}