.block-modal-detail-voucher {
  .ant-modal-body {
    padding: 0;
    min-height: 100vh;
    height: 100%;
  }
  .wrap-skeleton-col {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrap-panel-content {
    .wrap-panel-item {
      .wrap-top {
        text-align: center;
        margin-bottom: 0.5rem;

        img {
          width: 100%;
          height: 340px;
          object-fit: cover;
          background-color: #f1f1f1;
        }
        .banner-top {
          width: 100%;
          height: 180px;
          background-color: #f1f1f1;
        }

        h4 {
          margin-top: 0.5rem;
        }
      }
    }
  }
  .list-paraclinical {
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    color: rgba(0, 0, 0, 0.85);
    p {
      margin-bottom: 2px;
    }
    .time {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .colorCreate {
      color: #25a93c;
    }
    .colorCancel {
      color: #f96268;
    }
    .colorConfirm {
      color: #0392ce;
    }
    .colorFinish {
      color: #8701b0;
    }
    .colorRefund {
      color: #ff9500;
    }
  }
}

.progressbar {
  counter-reset: step;
  display: flex;
  flex-direction: column;
}
.progressbar li {
  list-style-type: none;
  display: flex;
  padding: 30px 15px;
  position: relative;
  font-weight: 600;
}
.progressbar li:before {
  /* CSS for creating steper block before the li item*/
  content: counter(step);
  counter-increment: step;
  height: 32px;
  line-height: 26px;
  border: 3px solid #ddd;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #02c8a7;
  margin-right: 30px;
  flex: 0 0 32px;
  color: #ffffff;
}
.progressbar li span {
  position: absolute;
  left: 60px;
}
.progressbar li:after {
  /* CSS for creating horizontal line*/
  content: "";
  position: absolute;
  width: 3px;
  height: 62px;
  background-color: #ddd;
  top: -31px;
  left: 30px;
  z-index: 0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #27ae60;
}
.progressbar li.active:before {
  border-color: #27ae60;
}
.progressbar li.active + li:after {
  background-color: #27ae60;
}
