.health-category {
  &.wrap-panel-content {
    .wrap-panel-line {
      width: 100%;
      .wrap-content-header {
        display: flex;
        justify-content: space-between;
        .title {
          font-weight: bold;
        }
        .read-more {
          cursor: pointer;
          color: #096dd9;
          font-weight: 500;
        }
      }
      .wrap-content-body {
        padding-left: 10px;
        padding-right: 10px;
        .wrap-panel-col {
          margin-top: 10px;
          .wrap-panel-item {
            cursor: pointer;
            border-radius: 5px;
            background: aliceblue;
            height: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            .wrap-top {
              height: 100%;
              div {
                height: 175px;
                background-color: #d9d9d9;
                border-radius: 5px 5px 0 0;
              }
              img {
                width: 100%;
                height: 200px;
                background-color: #f1f1f1;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
              }
            }
            .wrap-main {
              padding: 5px;
              display: flex;
              flex: 1;
              flex-direction: column;
              .label {
                font-weight: bold;
                line-height: 1.5;
                font-size: 18px;
              }
              .info {
                font-size: 15px;
                margin-top: auto;
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                span {
                  color: #00c7a7;
                }
                .see-detail{
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  .block-pagination{
    margin-bottom: 15px;
  }
  .read-more{
    margin-right: 10px;
    font-weight: 400 !important;
  }
  .btn-booking{
    color: #ffffff !important;
    &.disable{
      color: #00000040 !important;
      border-color: #d9d9d9;
      background: #f5f5f5;
      text-shadow: none;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  .ant-btn-lg{
    height: 36px;
    padding: 3px 15px;
  }
}
