.block-list-history-examination {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                padding: 10px;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-info {
                    flex: 1 1 auto;
                    p {
                        margin-bottom: 0;
                    }
                    .wrap-line {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: center;
                        .label {
                            font-weight: 500;
                            color: #6c757d;
                            width: 80px;
                        }
                        .value {
                            display: flex;
                            flex: 1 1 auto;
                            margin-left: 5px;
                            align-items: center;
                        }
                        .badge {
                            margin-left: 5px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .block-pagination {
        margin: 15px -10px 0;
        justify-content: flex-end;
    }
}

.wrap-filter-history-examination {
    display: flex;
    padding: 10px;
    box-shadow: 0 0 3px #cccccc;
    background: #ffffff;
    margin-top: 10px;
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
    .title {
        font-weight: 600;
    }
    .wrap-hospital {
        padding-right: 5px;
        flex: 0 0 50%;
        margin-bottom: 0.5rem;
        @media screen and (max-width: 425px) {
            padding-right: 0;
        }
    }
    .wrap-status {
        padding-left: 5px;
        flex: 0 0 50%;
        @media screen and (max-width: 425px) {
            padding-left: 0;
        }
    }
}