.records-test {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 -15px;
  .wrap-panel-content {
    .address {
      width: max-content;
      color: #ffffff;
      text-align: center;
      transform: translate(-50%, -50%);
      div {
        text-align: left;
        background: #02c8a7;
        padding: 8px;
        border-radius: 4px;
        font-size: 12px;
        position: relative;
        margin-bottom: 7px;
        &::before {
          width: 0px;
          height: 0px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #02c8a7;
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          margin-bottom: 6px;
        }
      }
      img {
        width: 24px;
      }
    }
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        padding: 0.5rem;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-top {
          h4 {
            font-size: 1.2em;
          }
        }
        .wrap-main {
          .wrap-line {
            display: flex;
            flex: 1 1 auto;
            border-bottom: 1px dashed #d9d9d9;
            padding: 6px 0;
            font-size: 15px;
            &:last-child {
              border-bottom: 0;
            }
            p {
              margin-bottom: 0;
            }
            .label {
              font-weight: 500;
            }
            .value {
              display: flex;
              flex: 1 1 auto;
              text-align: justify;
              justify-content: flex-end;
              .code {
                color: #ff0000;
              }
            }
          }
          .drop-line {
            flex-direction: column;
          }
        }
        .wrap-event-action {
          margin-top: auto;
          .box-button-event {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;
            @media screen and (max-width: 475px) {
              display: block;
            }
            .ant-btn {
              display: flex;
              align-items: flex-end;
              justify-content: center;
              width: 100%;
              &:first-child {
                margin-right: 0.25rem;
                @media screen and (max-width: 475px) {
                  margin-right: 0;
                }
              }
              &:last-child {
                margin-left: 0.25rem;
                @media screen and (max-width: 475px) {
                  margin-left: 0;
                  margin-top: 0.5rem;
                }
              }
              svg {
                color: #ffffff;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
