.block-modal-coupon-code {
    .form-find-coupon-code {
        .ant-input-group {
            @media screen and (max-width: 610px) {
                display: block;
            }
            .ant-form-item {
                &:last-child {
                    flex: 1 1%;
                }
            }
            .ant-btn {
                @media screen and (max-width: 610px) {
                    width: 100%;
                }
            }
        }
    }
    .wrap-panel-content {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 3px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                height: 100%;
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                background: #ffffff;
                box-shadow: 0 0 3px #cccccc;
                cursor: pointer;

                .wrap-top {
                    img {
                        width: 100%;
                        height: 100px;
                        object-fit: cover;
                    }
                }

                .wrap-main {
                    padding: 15px;
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;

                    .label {
                        font-weight: bold;
                    }

                    .end-time {
                        span {
                            color: green;
                            font-weight: 500;
                        }
                    }

                    .info {
                        margin-bottom: 0.5rem;
                    }

                    .ant-btn {
                        margin-top: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}