.block-modal-detail-voucher {
  .ant-modal-body {
    padding: 0;
    min-height: 100vh;
    height: 100%;
  }
  .wrap-skeleton-col {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrap-panel-content {
    .wrap-panel-item {
      .wrap-top {
        text-align: center;
        margin-bottom: 0.5rem;

        img {
          width: 100%;
          height: 340px;
          object-fit: cover;
          background-color: #f1f1f1;
        }
        .banner-top {
          width: 100%;
          height: 180px;
          background-color: #f1f1f1;
        }

        h4 {
          margin-top: 0.5rem;
        }
      }
    }
  }
  .list-paraclinical {
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    color: rgba(0, 0, 0, 0.85);
    p {
      margin-bottom: 2px;
    }
    .time {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .colorCreate {
      color: #25a93c;
    }
    .colorCancel {
      color: #f96268;
    }
    .colorConfirm {
      color: #0392ce;
    }
    .colorFinish {
      color: #8701b0;
    }
    .colorRefund {
      color: #ff9500;
    }
  }
  .popup-search-drug {
    padding: 0 25px;
    margin-top: 15px;
    position: relative;
    .search-input {
      padding: 0 10px;
      input {
        width: 100%;
        border: 0;
        outline: none;
        background: #f2f5ff;
        padding: 8px 10px;
        border-radius: 5px;
      }
      img {
        width: 16px;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
      }
    }

    .drug-img {
      height: calc(100vh - 150px);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 100px;
      }
    }
    .drug-list {
      height: calc(100vh - 150px);
      overflow-y: scroll;
      .wrap-skeleton-col {
        padding: 2px;
      }
    }
    .list-drug-data {
      margin-top: 15px;
      .list-drug-item {
        border-bottom: 1px dashed #d9d9d9;
        padding: 6px 0;
        cursor: pointer;
        .active {
          font-weight: 500;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .md-mt-2 {
    margin-top: 0.5rem;
  }
}
