.health-category-order {
  padding: 0 10px;
  &.wrap-panel-content {
    .wrap-panel-line {
      width: 100%;
      .wrap-content-header {
        display: flex;
        justify-content: space-between;
        .title {
          font-weight: bold;
        }
        .read-more {
          cursor: pointer;
          color: #096dd9;
          font-weight: 500;
        }
      }
      .wrap-content-body {
        padding-left: 15px;
        padding-right: 15px;
        .wrap-panel-col {
          margin-top: 10px;
          .wrap-panel-item {
            cursor: pointer;
            border-radius: 5px;
            background: aliceblue;
            height: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            .wrap-top {
              div {
                height: 175px;
                background-color: #d9d9d9;
                border-radius: 5px 5px 0 0;
              }
              img {
                width: 100%;
                height: 175px;
                background-color: #f1f1f1;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
              }
            }
            .wrap-main {
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 5px;
              display: flex;
              flex: 1;
              flex-direction: column;
              .label {
                font-weight: bold;
                line-height: 1.5;
                min-height: 30px;
                margin-bottom: 0.5rem;
              }
              .info {
                font-size: 15px;
                margin-top: auto;
                margin-bottom: 5px;
                span {
                  color: #00c7a7;
                }
                .color-red {
                  color: #f96268;
                }
                .color-green {
                  color: #25a93c;
                }
                .color-sky {
                  color: #0392ce;
                }
                .color-purpil {
                  color: #8701b0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.back-button{
  cursor: pointer;
  margin-right: 5px;
}