.block-list-special-examination {
  padding-left: 10px;
  padding-right: 10px;
  .wrap-panel-content {
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        width: 100%;
        align-items: center;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-item-img {
          img {
            width: 55px;
            border-radius: 50px;
          }
        }
        .wrap-item-info {
          margin-left: 0.5rem;
          span {
            font-weight: 500;
          }
        }
      }
      .wrap-suggest-item {
        display: flex;
        height: 100%;
        background: #cbebf6;
        cursor: pointer;
        .wrap-item-img {
          //img {
          //    height: 300px;
          //    width: 100%;
          //    object-fit: cover;
          //    object-position: top;
          //}
        }
      }
    }
  }
}

.block-select-partition-examination {
  margin-top: 10px;
  box-shadow: 0 0 3px #cccccc;
  background: #ffffff;
  padding: 10px 15px;
  width: 100%;
  float: left;
  .wrap-main {
    width: 100%;
    float: left;
    .wrap-panel-item {
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      padding: 8px;
      background: aliceblue;
      border: 1px solid aliceblue;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      display: inline-block;
    }
    .wrap-panel-item:hover,
    .wrap-panel-item.active {
      background: #00c8a7;
      color: #ffffff;
      border: 1px solid #00c8a7;
    }
  }
}

.block-select-suggest {
  margin-top: 10px;
  box-shadow: 0 0 3px #cccccc;
  background: #ffffff;
  padding: 10px 15px;
  width: 100%;
  float: left;
  .wrap-main {
    width: 100%;
    float: left;
    .wrap-panel-item {
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      padding: 8px;
      background: aliceblue;
      border: 1px solid aliceblue;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      display: inline-block;
    }
    .wrap-panel-item:hover,
    .wrap-panel-item.active {
      background: #00c8a7;
      color: #ffffff;
      border: 1px solid #00c8a7;
    }
  }
}
