.block-call-chat-page {
    display: flex;
    flex: 1 1 auto;
    .card-custom {
        .card-body-top {
            background-color: #f2f5ff;
            padding: 20px 10px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 600px) {
                display: block;
            }
            .descript {
                float: left;
                width: calc(100% - 250px);
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .step {
                float: left;
                width: 230px;
                margin-left: 20px;
                position: relative;
                @media screen and (max-width: 600px) {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                }
                &:before, &:after {
                    background: #f0ad4e;
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 51%;
                    width: 100%;
                    border-left: 2px solid #eea236;
                    border-right: 2px solid #eea236;
                    z-index: 1;
                }
                &:before {
                    top: 0;
                    transform: skew(30deg);
                    border-top: 2px solid #eea236;
                }
                &:after {
                    bottom: 0;
                    transform: skew(-30deg);
                    border-bottom: 2px solid #eea236;
                }
                .step-text {
                    position: relative;
                    z-index: 2;
                    line-height: 2.5;
                    padding: 0 20px;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
        }
    }
}