.block-list-relative-profile {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                height: 100%;
                padding: 0.5rem;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-top {
                    h4 {
                        font-size: 1.2em;
                    }
                }
                .wrap-main {
                    .wrap-line {
                        display: flex;
                        flex: 1 1 auto;
                        flex-direction: column;
                        border-bottom: 1px dashed #d9d9d9;
                        padding: 6px 0;
                        font-size: 15px;
                        &:last-child {
                            border-bottom: 0;
                        }
                        p {
                            margin-bottom: 0;
                        }
                        .label {
                            font-weight: 500;
                            .hospital-name {
                                color: #00c8a7;
                            }
                        }
                        .value {
                            display: flex;
                            text-align: justify;
                            justify-content: flex-end;
                            .code {
                                color: #FF0000;
                            }
                        }
                    }
                }
                .wrap-event-action {
                    margin-top: auto;
                    .box-button-event {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 0.5rem;
                        @media screen and (max-width: 475px) {
                            display: block;
                        }
                        .ant-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            &:first-child {
                                margin-right: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-right: 0;
                                }
                            }
                            &:last-child {
                                margin-left: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-left: 0;
                                    margin-top: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}