.block-my-questions {
    display: flex;
    flex: 1 1 auto;
    .question-item {
        border-bottom: solid 1px #f2f2f2;
        padding: 15px 7.5px;
        cursor: pointer;
        transition: all 0.25s;
        &:hover {
            background-color: #f2f2f2;
        }
        .question-content {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
        .btn-like {
            transition: all 0.25s;
            &.liked {
                color: #ff4d4f;
            }
        }
    }
}
.question-details-modal {
    .question-item {
        .question-content {
            word-break: break-word;
        }
        .answer-item {
            padding: 1rem;
            background-color: #f2f2f2;
            .answer-doctor {
                margin-bottom: 10px;
                display: flex;
                .avatar-block {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .doctor-info {
                    .rating {
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            .answer-content {
                word-break: break-word;
                margin-bottom: 0;
            }
        }
        .question-images {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-right: 5px;
                margin-bottom: 5px;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        .btn-like {
            transition: all 0.25s;
            &.liked {
                color: #ff4d4f;
            }
        }
    }
}
