.block-create-question {
    display: flex;
    flex: 1 1 auto;
    .card-body-top {
        background-color: #f2f5ff;
        padding: 20px 10px;
    }
    .upload-images {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .btn-upload {
            cursor: pointer;
            border: dashed 3px #cccccc;
            border-radius: 10px;
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #f2f2f2;
            }
            &:active {
                opacity: 0.5;
            }
        }
        .image {
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            img {
                width: 75px;
                height: 75px;
                object-fit: cover;
                border-radius: 10px;
            }
            .remove {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}
