.verify-phone {
    .code-input {
        margin: 0 auto;
    }
    .wrong-code {
        input {
            border-color: #FF0000;
        }
    }
    .send-again {
        cursor: pointer;
        text-align: center;
        color: #00C6BC;
    }
    .cskh {
        text-align: center;
        a {
            cursor: pointer;
            color: #00C6BC;
        }
    }
}

.block-modal-request-otp {
    .wrap-event-action {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 610px) {
            display: block;
            justify-content: normal;
        }
        button {
            width: 100%;
            @media screen and (max-width: 610px) {
                margin-bottom: 10px;
            }
            &:first-child {
                margin-right: 5px;
                @media screen and (max-width: 610px) {
                    margin-right: 0;
                }
            }
            &:last-child {
                margin-left: 5px;
                @media screen and (max-width: 610px) {
                    margin-left: 0;
                }
            }
        }
    }
}