.block-home-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .wrap-home-application {
    h2 {
      @media screen and (max-width: 425px) {
        font-size: 20px;
      }
      @media screen and (max-width: 375px) {
        font-size: 18px;
      }
      @media screen and (max-width: 295px) {
        font-size: 14px;
      }
    }
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        padding: 0.5rem;
        min-height: 110px;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        @media screen and (max-width: 767px) {
          min-height: auto;
        }

        .wrap-item-img {
          img {
            width: 80px;
            border-radius: 50px;
            @media screen and (max-width: 425px) {
              width: 60px;
            }
          }
        }

        .wrap-item-info {
          margin-left: 0.5rem;
          font-size: 18px;
          font-weight: 500;
          text-transform: capitalize;
          @media screen and (max-width: 425px) {
            font-size: 15px;
          }
          @media screen and (max-width: 375px) {
            font-size: 13px;
          }
          @media screen and (max-width: 295px) {
            font-size: 12px;
          }
        }

        .wrap-event-action {
          flex: 1 1 auto;
          text-align: right;
          svg {
            color: #00c8a7;
            border-radius: 30px;
            border: 2px solid;
            padding: 5px;
          }
        }
      }
    }
  }
}
