.block-list-appointment-schedule {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                height: 100%;
                padding: 0.5rem;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-img {
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        object-fit: cover;
                        @media screen and (max-width: 375px) {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                .wrap-item-info {
                    margin-left: 0.5rem;
                    flex: 1 1;
                    h4 {
                        @media screen and (max-width: 375px) {
                            font-size: 13px;
                        }
                        @media screen and (max-width: 315px) {
                            font-size: 12px;
                        }
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 1.5385;
                        @media screen and (max-width: 375px) {
                            font-size: 12px;
                        }
                        @media screen and (max-width: 315px) {
                            font-size: 11px;
                        }
                    }
                    .sub-name {
                        color: #00c6bc;
                    }
                    .datetime {
                        font-weight: 500;
                        color: #FF0000;
                        @media screen and (max-width: 375px) {
                            font-size: 12px;
                        }
                        @media screen and (max-width: 315px) {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}