.block-list-hospital-examination {
    padding-left: 10px;
    padding-right: 10px;
    .wrap-panel-content {
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                height: 100%;
                padding: 10px;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                .wrap-top {
                    margin-bottom: 0.5rem;
                    img {
                        border-radius: 5px;
                        width: 100%;
                        height: 170px;
                        object-fit: cover;
                    }
                }
                .wrap-main {
                    p {
                        margin-bottom: 0;
                    }
                    .address {
                        margin-bottom: 0.5rem;
                    }
                }
                .wrap-event-action {
                    margin-top: auto;
                    .box-button-event {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 0.5rem;
                        @media screen and (max-width: 475px) {
                            display: block;
                        }
                        .ant-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            &:first-child {
                                margin-right: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-right: 0;
                                }
                            }
                            &:last-child {
                                margin-left: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-left: 0;
                                    margin-top: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.block-modal-detail-hospital-examination {
    .ant-modal-close {
        .anticon svg {
            color: #ffffff;
        }
    }
    .ant-modal-body {
        padding: 0 !important;
        background: aliceblue;
    }
    .wrap-panel-content {
        .wrap-panel-item {
            .wrap-top {
                img {
                    width: 100%;
                }
            }
            .wrap-main {
                .title,
                .content {
                    padding: 10px;
                    background: #fff;
                }
                .title {
                    border-radius: 5px 5px 0 0;
                    margin-top: -15px;
                    border: 1px solid #ffffff;
                    z-index: 9;
                    position: relative;
                }
                .content {
                    p {
                        margin-bottom: 0;
                    }
                    ul {
                        margin-left: 2em;
                        li {
                            list-style-type: disc;
                        }
                    }
                    iframe {
                        min-height: 100vh;
                    }
                }
            }
        }
    }
}