.block-edit-relative-profile {
    margin: 0 -10px;
    overflow-x: auto;
}
.back-button{
  cursor: pointer;
  margin-right: 5px;
}
.error-profile{
  .ant-alert-message{
    font-weight: bold;
  }
  .ant-alert-description{
    font-size: 16px;
  }
}