.block-list-invoice {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            &:last-child {
                margin-bottom: 0;
                @media screen and (max-width: 991px) {
                    margin-bottom: 0.5rem;
                }
                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }
            .wrap-panel-item {
                padding: 10px;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-img.round-frame {
                    border-radius: 100%;
                    border: 1px solid #cccccc;
                    padding: 12px;
                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }
                }
                .wrap-item-info {
                    flex: 1 1 auto;
                    margin-left: 0.5rem;
                    p {
                        margin-bottom: 0;
                    }
                    .wrap-line {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: center;
                        .label {
                            font-weight: 500;
                            color: #6c757d;
                        }
                        .value {
                            margin-left: 5px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .block-pagination {
       margin: 15px -10px 0;
        justify-content: flex-end;
    }
}