.block-footer {
    margin-top: 2rem;
    .wrap-footer {
        color: #737373;
        margin: 0 auto;
        padding: 10px 0;
        width: 980px;
        @media screen and (max-width: 991px) {
            width: 100%;
            padding: 10px 10px;
        }

        .footer-content {
            .ul-tag-list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                line-height: 1.6;
                li {
                    display: inline;
                    padding-right: 20px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                    a {
                        color: #737373;
                    }
                }
            }
        }
        .footer-copyright {
            margin-top: 1rem;
            font-size: 13px;
        }
    }
}