.block-modal-detail-voucher {
  .ant-modal-body {
    padding: 0;
    min-height: 100vh;
    height: 100%;
  }
  .wrap-skeleton-col {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrap-panel-content {
    .wrap-panel-item {
      .wrap-top {
        text-align: center;
        margin-bottom: 0.5rem;

        img {
          width: 100%;
          height: 340px;
          object-fit: cover;
          background-color: #f1f1f1;
        }
        .banner-top {
          width: 100%;
          height: 180px;
          background-color: #f1f1f1;
        }

        h4 {
          margin-top: 0.5rem;
        }
      }

      .wrap-main {
        padding: 0 15px 15px 15px;
        .info-short-desc {
          display: flex;
          justify-content: space-between;

          p {
            margin-bottom: 0;
          }

          .left {
            padding: 15px 0;
            flex: 0 0 50%;
            border-right: 1px solid #d9d9d9;

            .label {
              font-weight: bold;
            }

            .point {
              color: #00c7a7;
            }
          }

          .right {
            padding: 15px 0;
            .label {
              font-weight: 500;
              span {
                color: #000000;
                font-weight: 400;
              }
            }

            .end-time {
              color: green;
              font-weight: 500;
            }
          }
        }

        .info-desc {
          margin-top: 0.5rem;
          border-top: 1px solid #d9d9d9;

          p {
            margin-bottom: 0;
          }

          .title {
            margin-top: 0.5rem;
            font-weight: 600;
          }
          .label {
            margin-top: 10px;
            font-weight: 500;
            .point {
              font-weight: 400;
              color: #00c7a7;
            }
          }

          ul {
            margin-left: 2rem;
          }

          .ant-btn {
            width: 100%;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
