.call-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s;
    background: linear-gradient(#1cb9ef 0%, #030d10 100%);
    display: flex;

    .profile {
        position: absolute;
        padding: 10px;
        top: 0;
        background: rgba(0, 0, 0, 0.5);

        p {
            margin: 0;
            color: #ffffff;
            span {
                text-transform: capitalize;
            }
        }
        small {
            display: block;
            color: #f1f1f1;
        }
    }

    .call-status {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
    }

    .local-video {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        right: 0;
        width: 350px;
        max-width: 30%;
    }
    .peer-video {
        max-width: 100%;
        max-height: 100%;
        min-height: 100vh;
        //background: rgba(0, 0, 0, 0.5);
        margin: auto;
        flex: 1 1 auto;
        width: 100%;
        text-align: center;
    }
    .video-control {
        position: absolute;
        padding: 15px 30px;
        bottom: 30px;

        .call-time {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5px 15px;
            border-radius: 20px;
            font-size: 1.1rem;
        }

        button {
            background: transparent;
            border: solid 2.5px #ccc;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #fff;
            margin-right: 15px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                filter: invert(1);
                margin: auto;
            }

            i {
                margin: auto;
                height: auto;
                width: auto;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
            &:focus {
                outline: none;
                box-shadow: inset 0 0 5px #ccc;
                color: #ccc;
            }
            &:last-child {
                background: #dc3545;
                border-color: #dc3545;
                margin-right: 0;
            }
        }
    }
}
.call-rating {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    .doctor-name {
        span {
            text-transform: capitalize;
        }
    }
    h3 {
        color: #FFFFFF;
        font-weight: normal;
        text-align: center;
    }
    p {
        margin-bottom: 0;
        color: #FFFFFF;
    }
    .rating {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        .icon {
            width: 20px;
        }
        span {
            margin-right: 2px;
        }
    }
    .rating-text {
        color: #00ffb8;
        margin-bottom: 0.5rem;
    }
    .panel-comment {
        position: relative;
        .tex-comment {
            width: 400px;
            margin-bottom: 3rem;
            resize: none;
            @media screen and (max-width: 425px) {
                width: 290px;
            }
            @media screen and (max-width: 300px) {
                width: 100%;
            }
        }
        .tex-count {
            position: absolute;
            bottom: 50px;
            right: 5px;
            color: #bfbfbf;
        }
    }
    .ant-btn {
        width: 80px;
    }
}
