.drugstore {
  padding: 0 10px;
  .wrap-panel-content {
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: 100%;
        padding: 0.5rem;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-item-img {
          img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            object-fit: cover;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
          .img-fluid1 {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: #d9d9d9;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
        }
        .wrap-item-info {
          margin-left: 0.5rem;
          flex: 1 1;
          h4 {
            @media screen and (max-width: 375px) {
              font-size: 13px;
            }
            @media screen and (max-width: 315px) {
              font-size: 12px;
            }
          }
          p {
            margin-bottom: 0;
            line-height: 1.5385;
            @media screen and (max-width: 375px) {
              font-size: 12px;
            }
            @media screen and (max-width: 315px) {
              font-size: 11px;
            }
          }
          .sub-name {
            color: #00c6bc;
          }
        }
      }
    }
    .wrap-profile-info {
      height: 100%;
      padding: 0.5rem;
      box-shadow: 0 0 3px #cccccc;
      background: #ffffff;
      margin-top: 10px;
      border-radius: 5px;
    }
    .wrap-main {
      .wrap-line {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
        font-size: 15px;
        border-bottom: 1px dashed #d9d9d9;
        &.address {
          flex: 1 1 auto;
          flex-direction: column;
        }
        &:last-child {
          border-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
        .label {
          font-weight: 500;
        }
        .value {
          display: flex;
          text-align: justify;
          justify-content: flex-end;
          .code {
            color: #ff0000;
          }
        }
      }
    }
  }
  .tutorial {
    list-style: none;
    margin-top: 10px;
    li {
      display: flex;
      align-items: center;
      padding: 5px 0;
      div {
        position: relative;
        flex: 0 0 60px;
        .img-cricle {
          width: 60px;
        }
        .img-content {
          width: 35px;
          position: absolute;
          height: 35px;
          left: 12.5px;
          top: 12.5px;
        }
      }
      p {
        margin-left: 10px;
        margin-bottom: 0px;
        font-weight: 500;
      }
    }
  }
  .custom-btn {
    background: #f4f8f8;
    color: #00c6bc;
    border: none;
  }
  .upload-image {
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .form-drug {
    margin-top: 10px;
    .input-name-drug {
      width: calc(100% - 10px);
      margin-left: 10px;
      border: 0;
      outline: none;
      background: #f2f5ff;
      padding: 8px 10px;
      border-radius: 5px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .form-amount {
      display: flex;
      background: #f2f5ff;
      padding: 7px 10px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-evenly;
      @media screen and (max-width: 768px) {
        padding: 7px 5px;
      }
      .input-amount {
        width: 30px;
        border: 0;
        outline: none;
        background: #f2f5ff;
        text-align: center;
        border-radius: 5px;
      }
      .btn-amount {
        width: 19px;
        height: 19px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
      }
    }
    .custom-btn {
      width: calc(100% - 10px);
      margin-right: 10px;
    }
  }
  .table button {
    border-radius: 20px;
  }
  .top-15 {
    top: 15px;
  }
  .right-5 {
    right: 5px;
  }
}
