.block-confirm-info-examination {
  padding: 0 10px;
  .wrap-profile-info,
  .wrap-payment-info {
    box-shadow: 0 0 3px #cccccc;
    background: #ffffff;
    padding: 15px;
  }
  .wrap-panel-col {
    margin-top: 10px;
    .wrap-panel-item {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      box-shadow: 0 0 3px #cccccc;
      background: #ffffff;
      height: 100%;
      border-radius: 5px;
      padding: 15px;
      .wrap-title {
        h4 {
          display: flex;
          align-items: center;
          background: aliceblue;
          padding: 5px;
          border-radius: 5px;
          svg {
            font-size: 1.2em;
            margin-right: 0.5rem;
          }
        }
      }
      .wrap-main {
        .wrap-line {
          display: flex;
          justify-content: space-between;
          padding: 6px 0;
          font-size: 15px;
          border-bottom: 1px dashed #d9d9d9;
          &.address {
            flex: 1 1 auto;
            flex-direction: column;
          }
          &:last-child {
            border-bottom: 0;
          }
          p {
            margin-bottom: 0;
          }
          .label {
            font-weight: 500;
          }
          .value {
            display: flex;
            text-align: justify;
            justify-content: flex-end;
            .code {
              color: #ff0000;
            }
          }
        }
      }
    }
  }
}
