.social-network {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
}
.follow {
  .see-all {
    color: #00c8a7;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
    .follow-item {
      height: 200px;
      position: relative;
      .img-follow {
        width: 100%;
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
      }
      .bg-overay {
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        border-radius: 5px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        img,
        .add-blog {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          margin-bottom: 3px;
          border: 1px solid;
          object-fit: cover;
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding: 0px 15px;
          font-size: 12px;
        }
        .add-blog {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            font-size: 30px;
          }
        }
      }
    }
  }
}

.social-blog {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px;
  margin: 15px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  .social-blog-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    .social-info {
      display: flex;
      align-items: center;
      .info {
        margin-left: 10px;
        font-size: 11px;
      }
      img {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid #dddddd;
      }
    }
    .more {
      svg {
        font-size: 18px;
        cursor: pointer;
      }
    }
    .dropdown {
      .dropdown-toggle {
        padding: 0;
        background: transparent;
        border: none;
        color: #333333;
        box-shadow: none;
        transform: rotate(90deg);
        &::after {
          content: none;
        }
      }
    }
    .follow {
      font-size: 12px;
      padding: 3px 6px;
      margin-right: 5px;
    }
  }

  .comment-details {
    border-top: 1px solid #dddddd;
    .social-info {
      display: flex;
      align-items: center;
      .info {
        margin-left: 10px;
        font-size: 10px;
        h4 {
          font-size: 12px;
        }
        .sub {
          background: #00c8a7;
          padding: 0px 7px;
          display: inline;
          border-radius: 100px;
          color: #ffffff;
        }
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
        border: 1px solid #dddddd;
      }
    }
    .comment-item {
      border-bottom: 1px solid #dddddd;
      time {
        font-size: 11px;
      }
      .like {
        cursor: pointer;
      }
      .cp {
        cursor: pointer;
      }
      .active {
        color: #00c8a7;
      }
    }
    .input-comment {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
      }
      input {
        height: 30px;
        border-radius: 100px;
        border: none;
        background: #f0f0f0;
        padding-left: 10px;
        width: 100%;
        margin-left: 5px;
        outline: none;
      }
    }
  }
  .title {
    padding: 5px 15px 10px;
  }
  .content {
    .content-img {
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      .h-350 {
        height: 350px;
      }
      .bg-overay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
        font-size: 18px;
        cursor: pointer;
      }
    }
    .content-video {
      video {
        width: 100%;
        height: 350px;
      }
    }
  }
  .comment {
    margin-top: 10px;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    div {
      cursor: pointer;
      display: flex;
      svg {
        font-size: 18px;
        margin-right: 5px;
      }
    }
    .active {
      color: #00c8a7;
    }
  }
  .mx--5 {
    margin-right: -5px;
    margin-left: -5px;
  }
}

.contact-suggest {
  .social-blog-header {
    span {
      font-size: 14px;
      color: #00c8a7;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        margin-top: 2px;
      }
    }
  }
  .content {
    padding: 0 5px 15px;
    .row {
      margin-left: -5px;
      margin-right: -5px;
      .info {
        text-align: center;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 15px 10px 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: 1px solid #dddddd;
          margin-bottom: 10px;
        }
        h5 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
        button {
          font-size: 12px;
          padding: 0 5px;
          height: 26px;
          width: 100%;
        }
      }
    }
  }
}

.custom-ant-modal-body {
  .ant-modal-body {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.your-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #dddddd;
    margin-right: 6px;
    object-fit: cover;
  }
  .bt-invite {
    margin-right: 10px;
    border: 1px solid #00c8a7;
    color: #00c8a7;
    padding: 1px 5px;
    border-radius: 4px;
  }
  .info {
    p {
      font-size: 16px;
    }
    .sub {
      background: #00c8a7;
      padding: 0px 7px;
      display: inline;
      border-radius: 100px;
      color: #ffffff;
    }
  }
  .custom-follow {
    width: 95px;
  }
}
.search-contact {
  border: none;
  background: #f0f0f0;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
}
.new-post {
  padding: 12px 15px;
  cursor: pointer;
  .icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  .text-share-info{
    width: 100%;
    height: 40px;
    background: #dddddd ;
    border-radius: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
  }
}
.new-post-popup {
  textarea {
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .disabled {
    opacity: 0.6;
  }
  .preview {
    margin-bottom: 15px;
    .row {
      margin-left: -5px;
      margin-right: -5px;
      position: relative;
    }
    .delete {
      position: absolute;
      right: 10px;
      top: 3px;
      font-size: 18px;
      color: #ff0000;
      cursor: pointer;
    }
  }

  .new-post-item {
    padding-left: 15px;
    padding-right: 15px;
    .bg {
      border-radius: 5px;
      background: #f0f0f0;
      text-align: center;
      padding: 15px 0;
      width: 100%;
      cursor: pointer;
      img {
        width: 36px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.share-link {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #dddddd;
}
.personal-info {
  position: relative;
  overflow: hidden;
  .bg-overlay {
    background: rgba($color: #ffffff, $alpha: 0.5);
    position: relative;
  }
  .thumbnail {
    position: absolute;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
  .info {
    text-align: center;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 100%;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 5px;
    }
    .icon {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      width: 100px;
      div {
        background: #dddddd;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 20px;
        }
      }
    }
  }
  .count-post {
    border-top: 3px solid #ffffff;
  }
  .row {
    margin: 0;
    .col-4 {
      padding: 15px 0;
      text-align: center;
      border-right: 3px solid #ffffff;
      background: rgba($color: #ffffff, $alpha: 0.4);
      cursor: pointer;
      &:last-child {
        border-right: 0;
      }
      h5 {
        font-size: 22px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

