.drug-address {
  padding: 0 10px;
  .wrap-profile-info {
    .form-create-profile {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      .ant-input-number {
        width: 100%;
        .ant-input-number-handler-wrap {
          display: none;
        }
      }
      .wrap-form-action {
        margin-top: auto;
        margin-bottom: 0;
        hr {
          margin-top: 0.5rem;
        }
        .box-button-event {
          display: flex;
          justify-content: flex-end;
          .ant-btn {
            @media screen and (max-width: 610px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
