// Incoming call
.incoming-call {
    position: absolute;
    top: -200px;
    z-index: 1000;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    display: flex;
    transition: all 0.5s;
    &.active {
        top: 0;
    }
}


.block-modal-incoming-video-call {
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-item {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            .wrap-main {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                .avatar {
                    img {
                        box-shadow: 0 0 3px #cccccc;
                        border-radius: 100%;
                        width: 45px;
                        height: 45px;
                    }
                }

                .info {
                    margin-left: 0.5rem;

                    p {
                        margin-bottom: 0;
                    }

                    .title {
                        font-weight: bold;
                        span {
                            text-transform: capitalize;
                        }
                    }

                    .text-muted {
                        font-size: 13px;
                    }
                }
            }
            .wrap-event-action {
                .box-button-event {
                    display: flex;
                    justify-content: flex-end;
                    @media screen and (max-width: 610px) {
                        display: block;
                    }
                    .ant-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media screen and (max-width: 610px) {
                            width: 100%;
                        }
                        &:first-child {
                            margin-right: 0.25rem;
                            @media screen and (max-width: 610px) {
                                margin-right: 0;
                            }
                        }
                        &:last-child {
                            margin-left: 0.25rem;
                            @media screen and (max-width: 610px) {
                                margin-left: 0;
                                margin-top: 0.5rem;
                            }
                        }
                        svg {
                            color: #FFFFFF;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}