.tabs-promotion {
  .tab-store-promotion {
    .skeleton {
      margin-left: -3px;
      margin-right: -3px;
      margin-bottom: 3px;
    }
    .wrap-panel-content {
      .wrap-panel-line {
        width: 100%;
        border: 1px solid #d9d9d9;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        .wrap-content-header {
          display: flex;
          justify-content: space-between;
          .title {
            font-weight: bold;
          }
          .read-more {
            cursor: pointer;
            color: #096dd9;
            font-weight: 500;
          }
        }
        .wrap-content-body {
          padding-left: 10px;
          padding-right: 10px;
          .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
              cursor: pointer;
              background: aliceblue;
              height: 100%;
              display: flex;
              flex: 1;
              flex-direction: column;
              .wrap-top {
                img {
                  width: 100%;
                  height: 100px;
                  background-color: #f1f1f1;
                  object-fit: cover;
                }
              }
              .wrap-main {
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                display: flex;
                flex: 1;
                flex-direction: column;
                .label {
                  font-weight: bold;
                  line-height: 1.5;
                  min-height: 50px;
                  margin-bottom: 0.5rem;
                }
                .info {
                  font-size: 15px;
                  margin-top: auto;
                  span {
                    color: #00c7a7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
