.wrap-panel-patient-code {
    box-shadow: 0 0 3px #cccccc;
    background: #ffffff;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    .wrap-info-patient-code {
        flex: 0 0 50%;
        @media screen and (max-width: 475px) {
            flex: 0 0 100%;
        }
        p {
            margin-bottom: 0;
            font-size: 15px;
            span {
                color: #FF0000;
                font-weight: 500;
            }
        }
    }
}
.form-create-profile {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .ant-input-number {
        width: 100%;
        .ant-input-number-handler-wrap {
            display: none;
        }
    }
    .wrap-form-action {
        margin-top: auto;
        margin-bottom: 0;
        hr {
            margin-top: 0.5rem;
        }
        .box-button-event {
            display: flex;
            justify-content: flex-end;
            .ant-btn {
                @media screen and (max-width: 610px) {
                    width: 100%;
                }
            }
        }
    }
}