.block-detail-personal {
    margin: 0 -10px;
    .wrap-panel-content {
        .wrap-panel-item {
            margin-top: 10px;
            padding: 1rem;
            box-shadow: 0 0 3px #cccccc;
            border-radius: 5px;
            background: #ffffff;
            .wrap-main {
                .wrap-line {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    padding: 6px 0;
                    border-bottom: 1px dashed #d9d9d9;
                    font-size: 15px;
                    @media screen and (max-width: 400px) {
                        display: block;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    .label {
                        font-weight: 500;
                    }

                    .value {
                        display: flex;
                        flex: 1 1 auto;
                        text-align: justify;
                        justify-content: flex-end;
                        color: #6c757d;
                    }
                }
            }
        }
    }
}