.block-modal-confirm-profile {
    .form-confirm-profile {
        .ant-form-item {
            .ant-input-number {
                width: 100%;
                .ant-input-number-handler-wrap {
                    display: none;
                }
            }
        }
    }
}