.block-list-profile-examination {
    padding-left: 10px;
    padding-right: 10px;
    .wrap-panel-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                height: 100%;
                padding: 0.5rem;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-top {
                    h4 {
                        font-size: 1.2em;
                    }
                }
                .wrap-main {
                    .wrap-line {
                        display: flex;
                        flex: 1 1 auto;
                        border-bottom: 1px dashed #d9d9d9;
                        padding: 6px 0;
                        font-size: 15px;
                        &:last-child {
                            border-bottom: 0;
                        }
                        p {
                            margin-bottom: 0;
                        }
                        .label {
                            font-weight: 500;
                        }
                        .value {
                            display: flex;
                            flex: 1 1 auto;
                            text-align: justify;
                            justify-content: flex-end;
                            .code {
                                color: #FF0000;
                            }
                        }
                    }
                    .drop-line {
                        flex-direction: column;
                    }
                }
                .wrap-event-action {
                    margin-top: auto;
                    .box-button-event {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 0.5rem;
                        @media screen and (max-width: 475px) {
                            display: block;
                        }
                        .ant-btn {
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            width: 100%;
                            &:first-child {
                                margin-right: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-right: 0;
                                }
                            }
                            &:last-child {
                                margin-left: 0.25rem;
                                @media screen and (max-width: 475px) {
                                    margin-left: 0;
                                    margin-top: 0.5rem;
                                }
                            }
                            svg {
                                color: #FFFFFF;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.block-modal-update-patient-code-examination {
    .wrap-panel-content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                padding: 15px;
                .wrap-main {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    .wrap-line {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        svg {
                            font-size: 16px;
                            margin-right: 10px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }
                .wrap-event-action {
                    cursor: pointer;

                    &:hover {
                        &:after {
                            content: "";
                            position: absolute;
                            background: #02C8A7;
                            height: 100%;
                            width: 50px;
                            top: 0;
                            right: 5px;
                            color: #000;
                            border-radius: 0 5px 5px 0;
                            opacity: 0.6;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        background: #f0f0f0;
                        height: 100%;
                        width: 50px;
                        top: 0;
                        right: 5px;
                        color: #000;
                        border-radius: 0 5px 5px 0;
                        opacity: 0.6;
                    }

                    svg {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .wrap-result-action {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        @media screen and (max-width: 375px) {
            display: block;
        }
        .ant-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                margin-right: 0.5rem;
                @media screen and (max-width: 375px) {
                    margin-right: 0;
                }
            }
            &:last-child {
                margin-left: 0.5rem;
                @media screen and (max-width: 375px) {
                    margin-left: 0;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .wrap-result-action.has-content {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 0;
        }
        .ant-btn {
            &:last-child {
                margin-left: 0;
            }
        }
    }
}

.block-modal-confirm-profile-examination {
    .form-confirm-profile {
        .ant-form-item {
            .ant-input-number {
                width: 100%;
                .ant-input-number-handler-wrap {
                    display: none;
                }
            }
        }
    }
}