.chat-box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  .chat-box-header {
    padding: 15px;
    border-bottom: solid 1px #f1f1f1;
    background-color: #ffffff;
    box-shadow: 0 3px 3px #ccc;
    display: flex;
    z-index: 1;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 7.5px;
      object-fit: cover;
    }
    .fullname {
      font-weight: bold;
    }
  }
  .list-messages {
    overflow-y: auto;
    padding: 15px;
    flex: 1 1 auto;
    .message {
      border-radius: 0px 8px;
      max-width: 80%;
      display: flex;
      margin-bottom: 5px;
      position: relative;
      flex-wrap: wrap;
      .content {
        padding: 7.5px;
        border-radius: 5px;
      }
      &.blur {
        .content {
          opacity: 0.5;
        }
      }
      &.sent {
        margin-left: auto;
        justify-content: flex-end;
        .content {
          background-color: #02c8a7;
          color: #ffffff;
        }
      }
      &.received {
        .content {
          background-color: #f1f1f1;
          margin-left: 35px;
        }
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 0.25rem;
        object-fit: cover;
        position: absolute;
        top: 0;
      }
    }
  }
  .message-box {
    position: relative;
    .input-message {
      border: none;
      border-top: solid 2px #f1f1f1;
      width: 100%;
      min-height: 60px;
      max-height: 120px;
      padding: 7.5px;
      padding-right: 40px;
      transition: all 0.5s;
      &:focus {
        outline: none;
        border-top: solid 2px #40a9ff;
      }
    }
    .btn-submit {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      color: #02c8a7;
    }
    .option-file {
      position: absolute;
      top: 8px;
      right: 55px;
      font-size: 1.2rem;
      color: #02c8a7;
      cursor: pointer;
    }
  }
}
.image-mess {
  width: 200px;
  height: 160px;
  object-fit: cover;
  cursor: pointer;
}
