.block-list-health-service {
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  &.block-list-health-service-custom {
    overflow-x: hidden;
    .wrap-panel-content {
      padding: 0 5px;
      margin-bottom: 10px;
      .row {
        overflow-x: scroll;
        display: flex;
        flex-wrap: inherit;
        padding-bottom: 10px;
        margin-left: -25px;
        margin-right: -25px;
      }
      .wrap-panel-col {
        margin: 10px 10px 0;
        &.active {
          .wrap-panel-item {
            background: #f0f8ff7a;
          }
        }
        .wrap-panel-item {
          width: 100px;
          box-shadow: 0 0 3px #cccccc;
          background: #ffffff;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
          text-align: center;
          &:hover {
            background: #f0f8ff7a;
            // .wrap-item-img {
            //   img {
            //     filter: invert(28%) sepia(88%) saturate(1685%) hue-rotate(71deg)
            //       brightness(77%) contrast(94%);
            //   }
            // }
          }
          .wrap-item-img {
            img {
              width: 30px;
              border-radius: 50px;
              filter: invert(28%) sepia(88%) saturate(1508%) hue-rotate(-99deg)
                brightness(0%) contrast(67%);
            }
          }
          .wrap-item-info {
            margin-top: 3px;
            font-size: 12px;
            span {
              font-weight: 500;
            }
          }
        }
        .wrap-suggest-item {
          display: flex;
          height: 100%;
          background: #cbebf6;
          cursor: pointer;
        }
      }
    }
  }
}

.wrap-content-error {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  img {
      width: 400px;
      margin-bottom: 2rem;
  }
  .content {
      p {
          font-size: 15px;
          width: 600px;
          @media screen and (max-width: 767px) {
              width: 100%
          }
          a {
              text-decoration: underline;
              font-style: italic;
          }
      }
  }
  .custom-btn{
    
  }
}