html, body {
    height: auto;
}
html.other-layout {
    height: 100%;
    body {
        height: 100%;
        #root {
            height: 100%;
        }
    }
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    font-size: 14px;
    font-feature-settings: 'tnum';
    line-height: 1.42857;
    color: #333333;
    //background: #f8f8f8;
    background: #ffffff;
}
.fontAvenRoman {
    font-family: AvenRoman, sans-serif;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
}
ul {
    padding-block-start: 0;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5385;
    margin-bottom: 0;
}
h1 {
    font-size: 30px;
    @media screen and (max-width: 375px) {
        font-size: 24px;
    }
}
h2 {
    font-size: 24px;
    @media screen and (max-width: 375px) {
        font-size: 20px;
    }
}
h3 {
    font-size: 20px;
    @media screen and (max-width: 375px) {
        font-size: 18px;
    }
}
h4 {
    font-size: 16px;
    @media screen and (max-width: 375px) {
        font-size: 15px;
    }
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #00c8a7;
    text-decoration: none;
}
iframe {
    border: none;
}
.color-red {
    color: #FF0000;
}
.color-blue {
    color: #1545d8;
}
.color-777 {
    color: #777777;
}
.pointer {
    cursor: pointer;
}
.btn-booking {
    color: #ffffff;
    background-color: #02C8A7;
    border-color: #02C8A7;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: #06a98e;
        border-color: #06a98e;
    }
}
.btn-accept {
    color: #ffffff;
    background-color: #02C8A7;
    border-color: #02C8A7;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: #06a98e;
        border-color: #06a98e;
    }
}
.btn-save {
    color: #ffffff;
    background-color: #02C8A7;
    border-color: #02C8A7;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: #06a98e;
        border-color: #06a98e;
    }
}
.hr-title-vertical {
    &:before {
        position: relative;
        content: "";
        border: 5px solid #00c8a7;
        margin-right: 15px;
    }
}
.card-custom {
    border: none;
    background-color: transparent;
    display: flex;
    flex: 1 1 auto;
    .card-header {
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            display: block;
        }
        .wrap-event-action {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 610px) {
                display: block;
                margin-top: 15px;
            }
            .ant-btn {
                display: flex;
                align-items: center;
                margin-left: 0.5rem;
                margin-top: 0.25rem;
                margin-bottom: 0.25rem;
                @media screen and (max-width: 610px) {
                    width: 100%;
                    margin-left: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
                span {
                    margin-left: 5px;
                }
            }
        }
    }
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}
.collapse-custom {
    margin-bottom: 10px;
    .ant-collapse-content {
        .ant-collapse-content-box {
            padding: 10px;
        }
    }
}
.table {
    margin-bottom: 0;
    border-spacing: 0;

    thead th {
        border-top: 0;
        border-bottom: 0;
    }
}
.css-2b097c-container {
    .css-yk16xz-control {
        border-radius: 2px;
        min-height: 40px;
    }
    .css-1pahdxg-control {
        border-radius: 2px;
        border-color: #40a9ff;
        border-right-width: 1px !important;
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
}
.drawer-my-account-menu-mobi {
    .ant-drawer-title {
        font-size: 24px;
    }
    .ant-drawer-body {
        padding: 15px;
        hr {
            margin-right: 5px;
        }
        ul {
            list-style-type: none;
            margin-right: 5px;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    background-color: #f5f5f5;
                    border-radius: 10px;
                }
            }
            li a {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                .round-frame {
                    border: 1px solid #cccccc;
                    border-radius: 100%;
                    width: 2.5em;
                    height: 2.5em;
                    padding: 7px;
                    display: flex;
                }
                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            li a.active {
                background-color: #f5f5f5;
                border-radius: 10px;
            }
        }
    }
}
.scrollbar-1 {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #d9d9d9;
    }
}
.scrollbar-2 {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #d9d9d9;
    }
}
#ReactSimpleImageViewer {
    z-index: 999999;
}

/*- Start custom block common -*/
.block-pagination {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .pagination {
        margin-top: 15px;
        .page-item {
            .page-link {
                color: #333333;
                &:focus {
                    z-index: 3;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0, 200, 167, 0.25);
                }
            }
        }
        .page-item.active {
            .page-link {
                color: #ffffff;
                background-color: #02C8A7;
                border-color: #02C8A7;
                box-shadow: none;
            }
        }
    }
}
.block-my-account {
    display: flex;
    flex: 1 1 auto;
    .block-my-account-panel {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0 10px 0 10px;
        @media screen and (max-width: 991px) {
            padding: 0;
        }
        .wrap-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.block-confirmation {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .wrap-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        h4 {
            font-weight: bold;
            font-style: italic;
        }
        p {
            margin-bottom: 0;
            line-height: 1.8;
            font-size: 16px;
            @media screen and (max-width: 375px) {
                font-size: 14px;
            }
        }
        .label {
            font-weight: 600;
            a {
                text-decoration: underline;
                margin-left: 0.5rem;
                font-style: italic;
            }
        }
        .amount {
            font-weight: bold;
            color: #FF0000;
        }
        .method,
        .datetime {
            font-weight: 600;
        }
        .invoice-code {
            font-weight: 600;
            color: blue;
        }
        .wrap-img {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            justify-content: center;
            img {
                width: 400px;
                margin: 0 auto;
            }
        }
    }
}
/*- End custom block common -*/

/*- Start custom ant design -*/
.ant-form {
    .ant-input-group {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 610px) {
            display: block;
            justify-content: normal;
        }
        .ant-form-item {
            width: 100%;
            &:first-child {
                margin-right: 5px;
                @media screen and (max-width: 610px) {
                    margin-right: 0;
                }
            }
            &:last-child {
                margin-left: 5px;
                @media screen and (max-width: 610px) {
                    margin-left: 0;
                }
            }
            &:only-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    .ant-form-item {
        flex-flow: column;
        margin-bottom: 0.5rem;
        .ant-form-item-label {
            text-align: left;
            @media screen and (max-width: 575px) {
                padding: 0;
            }
            label {
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 500;
                &:before {
                    content: none;
                }
                &:after {
                    content: none;
                }
            }
            .ant-form-item-required:not(.ant-form-item-required-mark-optional) {
                &:after {
                    display: block !important;
                    content: "*" !important;
                    color: #FF0000;
                }
            }
        }
        button {
            &.ant-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                .ant-btn-loading-icon {
                    display: flex;
                }
            }
        }
    }
    .ant-form-item-has-error {
        .css-2b097c-container {
            .css-yk16xz-control {
                background-color: #fff;
                border-color: #ff4d4f;

            }

            .css-1pahdxg-control {
                border-color: #ff7875;
                border-right-width: 1px !important;
                outline: 0;
                -webkit-box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
                box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
            }
        }
    }
}
.ant-modal-wrap {
    .ant-modal {
        padding-bottom: 0;
        .ant-modal-content {
            button {
                &:focus {
                    outline: none;
                }
                .ant-modal-close-x {
                    line-height: 45px;
                }
            }
            .ant-modal-footer {
                display: flex;
                justify-content: flex-end;
                .ant-btn-loading {
                    display: flex;
                    align-items: center;
                    .ant-btn-loading-icon {
                        display: flex;
                    }
                }
            }
        }
    }
    .ant-modal-custom {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        top: 0 !important;
        padding-bottom: 0;
        .ant-modal-content {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            box-shadow: none;
            .ant-modal-body {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                padding: 15px 15px;
            }
        }
    }
}
.ant-tabs {
    .ant-tabs-nav {
        .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
                width: 100%;
                display: flex;
                .ant-tabs-tab {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    font-weight: 500;
                    &:hover {
                        color: #02C8A7;
                    }
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:nth-child(2) {
                        margin-left: 10px;
                    }
                    .ant-tabs-tab-btn {
                        text-align: center;
                        &:focus {
                            color: #02C8A7;
                        }
                        @media screen and (max-width: 375px) {
                            white-space: normal;
                            font-size: 12px;
                        }
                        @media screen and (max-width: 300px) {
                            white-space: normal;
                            font-size: 11px;
                        }
                    }
                }
                .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: #02C8A7;
                }
                .ant-tabs-ink-bar {
                    background: #02C8A7;
                }
            }
        }
    }
}
.ant-tabs-top {
    .ant-tabs-nav {
        margin: 0 0 10px 0;
    }
}
.ant-dropdown {
    .ant-dropdown-menu {
        padding: 4px;
        .ant-dropdown-menu-item {
            padding: 10px 12px;
            border-radius: 10px;
        }
    }
}
.ant-empty-custom {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .ant-empty-description {
        font-size: 15px;
        font-weight: 600;
    }
}
/*- End custom ant design -*/

style + div .fade:not(.show){
  opacity: 1;
}

.custom-mobile-container{
  @media screen and (max-width: 768px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

