.tabs-promotion {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    .ant-tabs-content {
        height: 100%;
        flex: 1 1 auto;
        flex-direction: column;
    }
    .wrap-find-coupon {
        margin-bottom: 10px;
        input {
            cursor: pointer;
        }
    }
    .wrap-coupon-point {
        width: 100%;
        border: 1px solid #d9d9d9;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 25px;
            margin-right: 0.5rem;
        }
        p {
            cursor: pointer;
            margin-bottom: 0;
            font-size: 15px;
            flex: 1;
            span {
                font-weight: bold;
            }
        }
    }
}