.block-layout {
  min-height: 100vh !important;
  height: auto;
  background: #ffffff !important;
  .ant-layout-header {
    padding: 0 15px;
    background: #ffffff;
    box-shadow: 0 4px 2px -2px #ccc;
    color: #333333;
    z-index: 9;
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
    }
    .logo {
      float: left;
      position: relative;
      z-index: 9;
      display: flex;
      align-items: center;
      img {
        height: 45px;
      }
      span {
        margin-left: 10px;
        font-weight: bold;
        font-size: 17px;
        color: #00c8a7;
        text-transform: capitalize;
        @media screen and (max-width: 610px) {
          display: none;
        }
      }
    }
    .ant-menu {
      text-align: center;
      background: #ffffff;
      position: absolute;
      width: 100%;
      z-index: 1;
      left: 0;
      display: block;
      .ant-menu-item-selected {
        background-color: transparent;
        color: #00c8a7 !important;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 3px solid #00c8a7;
        }
        a {
          color: #00c8a7 !important;
        }
      }
      .ant-menu-item {
        color: #929292;
        padding: 0 30px;
        &:hover {
          background-color: transparent;
          color: #00c8a7 !important;
          &:after {
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 3px solid #00c8a7;
          }
        }
        a {
          color: #929292;
          &:hover {
            color: #00c8a7 !important;
          }
        }
      }
    }
    .wrap-home-menu {
      li {
        a {
          img {
            width: 30px;
          }
        }
      }
    }
    .nav-top-right {
      float: right;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 9;
      @media screen and (max-width: 767px) {
        position: absolute;
        right: 25px;
      }
      .menu-avatar {
        display: flex;
        flex: 1 1 auto;
        margin-right: 10px;
        padding-right: 5px;
        padding-left: 5px;
        width: 100%;
        max-width: 200px;
        @media screen and (max-width: 767px) {
          display: none;
        }
        .menu-avatar-left {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;
          margin-right: 5px;
          width: 70px;
          svg {
            width: 3em;
            height: 3em;
          }
          img {
            width: 80px;
            height: 45px;
            border-radius: 100%;
            border: 1px solid #b6b6b6;
            object-fit: cover;
          }
        }
        .menu-avatar-right {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .navbar-nav {
        flex-direction: row;
        .nav-item {
          cursor: pointer;
          .navbar-nav-link {
            .menu-notify,
            .menu-profile {
              display: flex;
              padding: 10px;
              background: #eeeeee;
              border: 1px solid #eeeeee;
              border-radius: 30px;
            }
            .menu-notify {
              .ant-badge {
                .ant-badge-count {
                  margin-right: -8px;
                  margin-top: -10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .ant-layout {
    background: #ffffff;
    .ant-layout-content {
      display: flex;
      .site-layout-content {
        display: flex;
        width: 930px;
        margin: 0 auto;
        @media screen and (max-width: 1000px) {
          width: 100%;
        }

        .block-main {
          display: flex;
          flex: 1 1 auto;
          width: 100%;
        }
      }
    }
  }
  .ant-layout-has-sider {
    //::-webkit-scrollbar {
    //    width: 5px;
    //}
    //::-webkit-scrollbar-track {
    //    background: #ffffff;
    //}
    //::-webkit-scrollbar-thumb {
    //    background: #d9d9d9;
    //}
    .sider-layout-left {
      padding: 10px;
      background: #ffffff;
      //height: 100vh;
      //overflow-y: hidden;
      //&:hover {
      //    overflow-y: auto;
      //}
      @media screen and (max-width: 991px) {
        display: none;
      }
      .block-sider-layout-menu {
        @media screen and (min-width: 992px) {
          top: 74px;
          padding-bottom: 1rem;
          overflow: hidden;
          &:hover {
            overflow: auto;
          }
        }
        @media screen and (max-width: 991px) {
          display: none;
        }
        hr {
          margin-right: 5px;
        }
        ul {
          list-style-type: none;
          li {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              background-color: #f5f5f5;
              border-radius: 10px;
            }
          }
          li a {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            .round-frame {
              border: 1px solid #cccccc;
              border-radius: 100%;
              width: 2.5em;
              height: 2.5em;
              padding: 7px;
              display: flex;
            }
            span {
              font-size: 16px;
              font-weight: 500;
            }
          }
          li a.active {
            background-color: #f5f5f5;
            border-radius: 10px;
          }
        }
      }
    }
    .sider-layout-right {
      background: #ffffff;
      @media screen and (max-width: 1258px) {
        display: none;
      }
    }
  }
  .ant-layout-footer {
    padding: 15px 50px;
    background: #ffffff;
    box-shadow: 0 0 3px 2px #cccccc;
    z-index: 9;
  }
}

.block-profile {
  width: 340px;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    li {
      .detail-profile {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;

        .wrap-left {
          float: left;
          width: 70px;
          height: 70px;
          display: flex;
          img {
            border-radius: 100%;
            border: 1px solid #eeeeee;
            width: 100%;
          }
        }

        .wrap-right {
          word-break: break-word;
          white-space: normal;
          float: left;
          margin-left: 10px;
          width: calc(100% - 75px);
          div:first-child {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            strong {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .balance-profile {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin-bottom: 0;
        }
        .wrap-left {
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          border-right: 1px solid #d9d9d9;
          .icon {
            img {
              height: 30px;
              width: 30px;
            }
          }
          .info {
            margin-left: 10px;
            .label {
              font-weight: 500;
            }
          }
        }
        .wrap-right {
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          margin-left: 10px;
          &:hover {
            color: #00c8a7;
          }
          .icon {
            img {
              height: 30px;
              width: 30px;
            }
          }
          .info {
            margin-left: 10px;
            .label {
              font-weight: 500;
            }
          }
        }
      }
      .balance-action {
        width: 100%;
        float: left;
        margin-top: 0.5rem;
      }
      .menu-item-detail {
        display: flex;
        align-items: center;
        svg {
          border: 1px solid #cccccc;
          border-radius: 100%;
          width: 2.5em;
          height: 2.5em;
          padding: 5px;
        }
        .round-frame {
          border: 1px solid #cccccc;
          border-radius: 100%;
          width: 2.5em;
          height: 2.5em;
          padding: 7px;
          display: flex;
        }
        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.block-notify {
  width: 350px;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
  ul {
    h4 {
      padding: 5px 10px;
      margin-bottom: 5px;
      background: aliceblue;
      border-radius: 5px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
      }
    }
    li {
      padding: 5px 5px !important;
      .notify-title {
        word-break: break-word;
        white-space: normal;
        font-weight: 600;
      }
      .notify-title.seen {
        color: #6c757d;
        font-weight: 600;
      }
      .notify-detail {
        word-break: break-word;
        white-space: normal;
      }
      .notify-detail.seen {
        color: #6c757d;
      }
      .notify-date {
        color: #00c8a7;
      }
    }
    .wrap-skeleton-col {
      .wrap-skeleton-item {
        box-shadow: none;
        padding: 0.5rem;
        &:last-child {
          margin-bottom: 10px;
        }
        .ant-skeleton-content {
          .ant-skeleton-title {
            margin-top: 10px;
          }
          .ant-skeleton-paragraph {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
