.block-wrap-index {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @media screen and (max-width: 991px) {
        height: auto;
    }
    .block-index {
        @media screen and (max-width: 991px) {
            height: auto;
            display: block;
            margin-top: 2rem;
        }

        .wrap-main {
            width: 980px;
            margin: 0 auto;
            justify-content: center;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            .wrap-left {
                @media screen and (max-width: 991px) {
                    margin-bottom: 1rem;
                    text-align: center;
                }

                .slogan {
                    h1 {
                        text-transform: uppercase;
                        @media screen and (max-width: 991px) {
                            font-size: 24px;
                        }
                    }

                    h3 {
                        text-transform: capitalize;
                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                        }
                    }
                }
            }

            .wrap-right {
                max-width: 400px;

                @media screen and (max-width: 991px) {
                    margin: 0 auto;
                }

                .card {
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
                }
            }

            a.btn-save {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}