.history-drug-details {
  .wrap-panel-content {
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        padding: 15px;
        box-shadow: 0 0 3px #cccccc;
        border-radius: 5px;
        background: #ffffff;

        .wrap-top {
          h4 {
            display: flex;
            align-items: center;
            background: aliceblue;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 5px;
            svg {
              font-size: 1.2em;
              margin-right: 0.5rem;
            }
          }
        }

        .wrap-main {
          .wrap-line {
            display: flex;
            flex: 1 1 auto;
            border-bottom: 1px dashed #d9d9d9;
            padding: 6px 0;
            font-size: 15px;
            .img-drug {
              height: 200px;
              object-fit: cover;
            }

            &:last-child {
              border-bottom: 0;
            }

            p {
              margin-bottom: 0;
            }
            .w-65 {
              width: 65%;
            }
            th,
            td {
              font-size: 14px;
            }
            .label {
              font-weight: 500;
            }

            .font-bold {
              font-weight: 500;
            }
            .payment-select {
              width: 100%;
              p {
                color: #6c757d;
              }
              select {
                outline: none;
                border: none;
                background: #f2f5ff;
                width: 100%;
                margin-top: 3px;
                border-radius: 4px;
                padding: 0 10px;
                height: 36px;
              }
            }

            .value {
              display: flex;
              flex: 1 1 auto;
              text-align: justify;
              color: #6c757d;
              justify-content: flex-end;

              .badge {
                color: #ffffff;
              }
            }
            .colorCreate {
              color: #25a93c;
            }
            .colorConfirm {
              color: #0392ce;
            }
            .colorWait {
              color: #0247fe;
            }
            .colorDelivery {
              color: #ff00ff;
            }
            .colorFinish {
              color: #8701b0;
            }
            .colorCancel {
              color: #f96268;
            }
            .colorRefund {
              color: #ff9500;
            }
            .patient-code {
              color: #0000ff;
            }

            .datetime {
              color: #ff0000;
            }
          }
          .drop-line {
            flex-direction: column;
          }
          .barcode {
            flex-direction: column;
            svg {
              width: 100%;
            }
            canvas {
              margin: 10px auto 0;
            }
            .label {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }

        .wrap-bot {
          .note-label {
            color: #ff0000;
            margin-bottom: 0;
          }

          .note-text {
            color: #6c757d;
            margin-bottom: 0;
          }
        }

        .wrap-event-action {
          .box-button-event {
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 475px) {
              display: block;
            }

            .ant-btn {
              margin-left: 0.5rem;
              width: 200px;
              @media screen and (max-width: 475px) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 0.5rem;
              }

              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
