.block-list-special-call-chat {
    padding-left: 10px;
    padding-right: 10px;
    .wrap-panel-content {
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                width: 100%;
                align-items: center;
                box-shadow: 0 0 3px #cccccc;
                background: #ffffff;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background: #f0f8ff7a;
                }
                .wrap-item-img {
                    img {
                        width: 55px;
                        border-radius: 50px;
                    }
                }
                .wrap-item-info {
                    margin-left: 0.5rem;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}