.block-modal-filter-promotion {
    .ant-modal-body {
        min-height: 100vh;
    }
    .wrap-filter-params {
        display: flex;
        @media screen and (max-width: 425px) {
            flex-direction: column;
        }
        .title {
            font-weight: 600;
        }
        .wrap-cat {
            padding-right: 5px;
            flex: 0 0 50%;
            margin-bottom: 0.5rem;
            @media screen and (max-width: 425px) {
                padding-right: 0;
            }
        }
        .wrap-sort {
            padding-left: 5px;
            flex: 0 0 50%;
            @media screen and (max-width: 425px) {
                padding-left: 0;
            }
        }
    }
    .wrap-filter-point {
        margin-top: 0.5rem;
        .title {
            font-weight: 600;
        }
        .input-range {
            height: 2rem;
            touch-action: pan-x;
            .input-range__slider {
                border: solid 2px #02C8A7;
                background: #02C8A7;
            }
            .input-range__track--active {
                background: #02C8A7;
            }
            .input-range__label--value {
                top: 5px;
                display: none;
            }
            .input-range__label--min {
                display: none;
            }
            .input-range__label--max {
                display: none;
            }
        }
    }
    .wrap-panel-content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                cursor: pointer;
                background: aliceblue;
                height: 100%;
                display: flex;
                flex: 1;
                flex-direction: column;
                .wrap-top {
                    img {
                        width: 100%;
                        height: 100px;
                        background-color: #f1f1f1;
                        object-fit: cover;
                    }
                }
                .wrap-main {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    padding-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    .label {
                        font-weight: bold;
                        line-height: 1.5;
                        min-height: 50px;
                        margin-bottom: 0.5rem;
                    }
                    .info {
                        font-size: 15px;
                        margin-top: auto;
                        span {
                            color: #00c7a7;
                        }
                    }
                }
            }
        }
    }
    .wrap-lazy-pagination {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-top: 1rem;
        hr {
            margin-top: auto;
        }
    }
}