.package-health-service {
  padding: 0 10px;
  .wrap-panel-col2 {
    margin-top: 10px;
    .wrap-panel-item {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      box-shadow: 0 0 3px #cccccc;
      background: #ffffff;
      height: 100%;
      border-radius: 5px;
      padding: 15px;
      .wrap-title {
        display: flex;
        align-items: center;
        background: aliceblue;
        padding: 5px;
        border-radius: 5px;
        justify-content: space-between;
        h4 {
          svg {
            font-size: 1.2em;
            margin-right: 0.5rem;
          }
        }
        input {
          margin-right: 3px;
        }
      }
      .wrap-main {
        margin-top: 10px;
        .wrap-line {
          display: flex;
          justify-content: space-between;
          padding: 6px 0;
          font-size: 15px;
          &.address {
            flex: 1 1 auto;
            flex-direction: column;
          }
          &:last-child {
            border-bottom: 0;
          }
          p {
            margin-bottom: 0;
          }
          .label {
            font-weight: 400;
            cursor: pointer;
          }
          .value {
            display: flex;
            text-align: justify;
            justify-content: flex-end;
            margin-right: 8px;
            .code {
              color: #ff0000;
            }
          }
        }
      }
      .price {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 6px;
        border-top: 1px dashed #333333;
        font-size: 15px;
        &.address {
          flex: 1 1 auto;
          flex-direction: column;
        }
        &:last-child {
          border-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
        .label {
          font-weight: 600;
        }
        .value {
          display: flex;
          text-align: justify;
          justify-content: flex-end;
          color: #ff0000;
          font-weight: 500;
        }
      }
    }
  }
  .wrap-panel-content {
    .wrap-panel-col {
      margin-top: 10px;
      .wrap-panel-item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: 100%;
        padding: 0.5rem;
        box-shadow: 0 0 3px #cccccc;
        background: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: #f0f8ff7a;
        }
        .wrap-item-img {
          img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            object-fit: cover;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
          .img-fluid1 {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: #d9d9d9;
            @media screen and (max-width: 375px) {
              width: 80px;
              height: 80px;
            }
          }
        }
        .wrap-item-info {
          margin-left: 0.5rem;
          flex: 1 1;
          h4 {
            @media screen and (max-width: 375px) {
              font-size: 13px;
            }
            @media screen and (max-width: 315px) {
              font-size: 12px;
            }
          }
          p {
            margin-bottom: 0;
            line-height: 1.5385;
            @media screen and (max-width: 375px) {
              font-size: 12px;
            }
            @media screen and (max-width: 315px) {
              font-size: 11px;
            }
          }
          .sub-name {
            color: #00c6bc;
          }
        }
      }
    }
  }
}

.package-service{
  &.card-custom{
    .card-body-top{
      padding: 10px 10px;
      .step{
        @media screen and (max-width: 600px) {
          margin-top: 0;
        }
      }
    }
  } 
}