.block-modal-find-coupon {
    .ant-modal-body {
        min-height: 100vh;
    }
    .form-find-coupon-code {
        .ant-input-group {
            .ant-form-item {
                &:last-child {
                    flex: 1 1%;
                    margin-left: 0;
                    .ant-btn {
                        display: flex;
                        align-items: center;
                        width: 80px;
                        @media screen and (max-width: 610px) {
                            width: 100%;
                        }
                        svg {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .wrap-panel-content {
        margin-top: -10px;
        padding-left: 12px;
        padding-right: 12px;
        .wrap-panel-col {
            margin-top: 10px;
            .wrap-panel-item {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                height: 100%;
                background: #ffffff;
                box-shadow: 0 0 3px #cccccc;
                cursor: pointer;
                .wrap-top {
                    img {
                        width: 100%;
                        height: 100px;
                        object-fit: cover;
                    }
                }

                .wrap-main {
                    padding: 15px;
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;

                    .label {
                        font-weight: bold;
                    }

                    .end-time {
                        span {
                            color: green;
                            font-weight: 500;
                        }
                    }

                    .info {
                        margin-bottom: 0.5rem;
                    }

                    .ant-btn {
                        margin-top: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}