.block-questions {
    display: flex;
    flex: 1 1 auto;
    .block-questions-panel {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0 10px 0 10px;
        .question-item {
            background-color: #ffffff;
            box-shadow: 0 0 3px #cccccc;
            margin-top: 10px;
            padding: 1rem;
            border-radius: 5px;
            .question-content {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
            .answer-item {
                padding: 1rem;
                background-color: #f2f2f2;
                .answer-doctor {
                    margin-bottom: 10px;
                    display: flex;
                    .avatar-block {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .doctor-info {
                        .rating {
                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
                .answer-content {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                    margin-bottom: 0;
                }
            }
            .btn-like {
                transition: all 0.25s;
                &.liked {
                    color: #ff4d4f;
                }
            }
        }
    }
    .list-specialities {
        padding: 15px;
        padding-bottom: 30px;
        margin-bottom: 15px;
        max-height: 150px;
        overflow: hidden;
        transition: all 0.5s;
        position: relative;
        &.show {
            max-height: 1200px;
        }
        .speciality {
            display: flex;
            width: 100%;
            align-items: center;
            box-shadow: 0 0 3px #cccccc;
            border: solid 2px transparent;
            background: #ffffff;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            margin-bottom: 10px;
            &.active {
                background: #f2f2f2;
                border: solid 2px #00c8a7;
            }
            &:hover {
                background: #f0f8ff7a;
            }
            img {
                width: 40px;
                margin-right: 7.5px;
            }
            .name {
                margin-top: auto;
                margin-bottom: auto;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }
        .show-more-specialities {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 20px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
        }
    }
}

.question-details-modal {
    .question-content {
        word-break: break-word;
    }
    .answer-item {
        padding: 1rem;
        background-color: #f2f2f2;
        .answer-doctor {
            margin-bottom: 10px;
            display: flex;
            .avatar-block {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .doctor-info {
                .rating {
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        .answer-content {
            word-break: break-word;
            margin-bottom: 0;
        }
    }
    .suggest-questions {
        margin-top: 15px;
        .title {
            font-weight: 300;
            border-bottom: solid 1px #cccccc;
            margin-bottom: 15px;
        }
        .question-item {
            padding: 7.5px;
            cursor: pointer;
            border-bottom: solid 1px #f2f2f2;
            &:hover {
                background-color: #f2f2f2;
            }
            .question-content {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                margin-bottom: 0;
            }
        }
    }
    .btn-like {
        transition: all 0.25s;
        &.liked {
            color: #ff4d4f;
        }
    }
}
