.block-not-found {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 980px;
    @media screen and (max-width: 991px) {
        width: 100%;
    }
    p {
        color: #333333;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }
    img {
        margin: 1rem auto;
        width: 450px;
        @media screen and (max-width: 475px) {
            width: 100%;
        }
    }
    .btn {
        margin-top: 2rem;
        width: 470px;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
}
